<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/ites%20combined.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
df1 = pd.read_csv('ITES_train.csv')
df2 = pd.read_csv('ITES_train2.csv')
df3 = pd.read_csv('ITES_train3.csv')
df=pd.concat([df1,df2,df3],ignore_index=True,axis=0)
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Tektronix Hi Tech & ITES 2022,Product Application Engineering,Portfolio Solutions,SAPS
1,Tektronix Hi Tech & ITES 2022,Software Engineering,Engineering,PDFD
2,Tektronix Hi Tech & ITES 2022,Software Engineering,Engineering,PDFD
3,Tektronix Hi Tech & ITES 2022,Software Engineering,Engineering,PDFD
4,Tektronix Hi Tech & ITES 2022,Software Engineering,Engineering,PDFD

In [12]:
df_test = pd.read_csv('ITES_test3.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYXX
1,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYIN
2,Wipro Set 1 Hi Tech & ITES 2022,Test Engineer,ICORE-CRS,SYAS
3,Wipro Set 1 Hi Tech & ITES 2022,Senior Administrator,ICORE-CIS,INXX
4,Wipro Set 1 Hi Tech & ITES 2022,Administrator,ICORE-CIS,INXX

In [13]:
df.shape
set(df['Company Name'])

{'Cyllid Technologies Private Limited',
 'Statestreet Hi Tech and Ites 2022',
 'Swiss Re Hi Tech & ITES 2021',
 'TCS I1-I3 Part 2 Hi Tech & ITES 2022',
 'TCS I1-I3 Part 3 Hi Tech & ITES 2022',
 'TCS I4-I6 Part 1 Hi Tech & ITES 2022',
 'TCS I4-I6 Part 2 Hi Tech & ITES 2022',
 'TCS M Levels Hi Tech & ITES 2022',
 'TIAA Hi Tech & ITES 2022',
 'Tektronix Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Thryve Hi Tech & ITES 2022',
 'Trafigura Global Services',
 'UHG Hi Tech & ITES 2022',
 'Ugam Solutions Hi Tech & ITES 2022',
 'Unisys Hi Tech & ITES 2022',
 'Virtusa Hi Tech & ITES 2022',
 'Volvo Group India',
 'WNS Global Services Hi Tech & ITES 2022',
 'Wells Fargo Hi Tech & ITES 2022',
 'WhitehatJr Hi Tech & ITES 2022',
 'Wipro Set 2 Hi Tech & ITES 2022',
 'Wipro Set 3 Hi Tech & ITES 2022',
 'Workday',
 'Yash Technologies Hi Tech & ITES 2022'}

In [14]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [15]:
train_cols = ['Co. Designation', 'Co. Function']

In [16]:
target_col = 'Job Family Code'

In [17]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [18]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [19]:
# Load data
data = pd.read_csv('ITES_train3.csv')

In [20]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYXX
1,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYIN
2,Wipro Set 1 Hi Tech & ITES 2022,Test Engineer,ICORE-CRS,SYAS
3,Wipro Set 1 Hi Tech & ITES 2022,Senior Administrator,ICORE-CIS,INXX
4,Wipro Set 1 Hi Tech & ITES 2022,Administrator,ICORE-CIS,INXX

In [21]:
data = data[all_cols]
data = data.dropna()

In [22]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [23]:
data.head()

                   Co. Designation         Co. Function Job Family Code
0  Product Application Engineering  Portfolio Solutions            SAPS
1             Software Engineering          Engineering            PDFD
2             Software Engineering          Engineering            PDFD
3             Software Engineering          Engineering            PDFD
4             Software Engineering          Engineering            PDFD

In [24]:
df_test.head()

           Co. Designation Co. Function Job Family Code
0  Senior Project Engineer    ICORE-CRS            SYXX
1  Senior Project Engineer    ICORE-CRS            SYIN
2            Test Engineer    ICORE-CRS            SYAS
3     Senior Administrator    ICORE-CIS            INXX
4            Administrator    ICORE-CIS            INXX

In [25]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [26]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [27]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.8949178796783526

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AAAA       0.00      0.00      0.00         1
        AADS       1.00      0.97      0.98      2249
        AAMD       0.97      0.86      0.91       236
        AAML       0.00      0.00      0.00        11
        AFAD       0.95      0.94      0.95        89
        AFFE       0.93      0.62      0.74        21
        AFSE       1.00      0.71      0.83         7
        AFXX       1.00      0.96      0.98        75
        ARCD       0.00      0.00      0.00       178
        ARIA       1.00      1.00      1.00        54
        ARRP       0.00      0.00      0.00        34
        ARXX       1.00      0.95      0.97      1931
        ASCD       0.79      0.79      0.79      4080
        ASDB       0.00      0.00      0.00       181
        ASEC       0.00      0.00      0.00        16
        ASFS       0.35      0.76      0.48       169
        ASMD       0.00      0.00      0.00        61
        ASPI       0.90      0.47      0.61       374
        ASRP       0.95      0.10      0.19       344
        ASSI       1.00      0.07      0.13       152
        ASUI       0.89      0.13      0.23       302
        ASXX       0.87      0.99      0.93     32532
        BCPM       0.00      0.00      0.00         2
        BFAC       0.91      0.98      0.95       172
        BFAM       0.56      0.08      0.14        60
        BFCA       0.99      0.90      0.94        83
        BFCB       1.00      1.00      1.00       628
        BFCM       0.56      0.98      0.71       243
        BFFU       0.36      0.92      0.52       204
        BFIR       1.00      1.00      1.00       282
        BFKY       0.94      0.78      0.85       196
        BFLP       1.00      1.00      1.00        23
        BFPC       1.00      0.11      0.19       140
        BFTF       1.00      0.99      0.99        87
        BFTO       1.00      0.85      0.92       156
        BFUW       0.93      0.95      0.94       143
        BFWB       1.00      1.00      1.00        65
        BSMT       0.72      0.85      0.78        52
        CCCE       1.00      1.00      1.00       191
        CCCO       1.00      1.00      1.00        23
        CCCV       1.00      1.00      1.00       857
        CCID       0.00      0.00      0.00         1
        CCII       1.00      1.00      1.00         7
        CCMD       1.00      0.97      0.99       234
        CCMI       0.00      0.00      0.00         1
        CCVD       1.00      1.00      1.00         3
        CMDO       1.00      0.02      0.03       118
        CMDS       1.00      0.31      0.47        36
        CMXX       1.00      0.93      0.96        54
        CSBC       0.98      0.96      0.97      2655
        CSCG       0.77      0.98      0.87        59
        CSCS       0.00      0.00      0.00         3
        CSED       1.00      0.43      0.60         7
        CSEL       0.00      0.00      0.00         4
        CSFC       0.95      0.90      0.92      1183
        CSPS       0.00      0.00      0.00        12
        DABD       0.82      0.48      0.61       635
        DABI       0.96      0.35      0.51       234
        DADV       0.74      0.24      0.36        58
        DADW       0.00      0.00      0.00       345
        DMDA       0.00      0.00      0.00         7
        DMMD       0.00      0.00      0.00        11
        DMSM       0.96      0.73      0.83        33
        EDEE       1.00      1.00      1.00        15
        EDME       0.90      1.00      0.95        19
        EDXX       1.00      0.96      0.98       120
        FAAG       0.90      0.87      0.88       272
        FAAP       0.99      1.00      0.99       520
        FAER       0.62      0.13      0.22       113
        FAFA       0.92      0.70      0.79       348
        FAFI       1.00      1.00      1.00       334
        FALC       0.65      0.93      0.76       147
        FAML       1.00      0.88      0.93        80
        FARR       0.00      0.00      0.00        14
        FASR       0.75      0.25      0.38        12
        FATA       1.00      0.50      0.67        12
        FATP       1.00      1.00      1.00        78
        FLAC       0.95      0.96      0.95       148
        FLCS       0.00      0.00      0.00         2
        FLFA       1.00      1.00      1.00        18
        FLLE       1.00      0.64      0.78        14
        FLPP       1.00      0.96      0.98       155
        FLPR       0.71      0.98      0.83        60
        FLTR       1.00      0.82      0.90        74
        FLTX       1.00      0.88      0.93         8
        FLXX       0.70      0.45      0.55       186
        GDXX       0.00      0.00      0.00         9
        HCCA       1.00      1.00      1.00      1672
        HCCR       1.00      1.00      1.00       210
        HCMC       0.81      0.83      0.82       772
        HCMR       0.00      0.00      0.00         4
        HCRM       1.00      0.98      0.99       744
        HRBP       0.67      0.56      0.61       243
        HRCB       1.00      0.39      0.56        18
        HRDI       0.00      0.00      0.00        14
        HRGM       1.00      0.21      0.34        63
        HROD       0.00      0.00      0.00        12
        HRRE       0.88      0.83      0.86       484
        HRRM       0.47      0.16      0.24        51
        HRSS       0.99      0.90      0.94       147
        HRTR       1.00      0.84      0.91       158
        HRXX       0.95      0.67      0.78        78
        HSGM       0.00      0.00      0.00         1
        HSPL       1.00      1.00      1.00         8
        HSSC       1.00      0.44      0.61        16
        INAU       0.96      0.81      0.88        32
        INCL       0.92      0.53      0.68       413
        INDB       0.95      0.88      0.91       628
        INDC       0.98      0.96      0.97        57
        INDS       0.69      0.14      0.24       406
        INFS       1.00      0.30      0.47        23
        INNE       1.00      0.64      0.78       613
        INRA       0.80      0.55      0.65       209
        INRE       1.00      1.00      1.00         1
        INRI       0.99      0.93      0.96       405
        INRP       0.00      0.00      0.00         5
        INSA       0.00      0.00      0.00        49
        INSS       0.99      0.99      0.99      2172
        INTI       1.00      1.00      1.00         3
        INXX       0.80      0.85      0.83      3594
        ITAU       0.52      0.43      0.47        37
        LECM       0.00      0.00      0.00         1
        LECO       0.85      0.94      0.89       154
        LEPO       1.00      0.93      0.96        28
        LERE       0.00      0.00      0.00         2
        MBCC       1.00      1.00      1.00         8
        MBCM       0.91      0.81      0.85        36
        MBDM       0.92      0.82      0.87        40
        MBGM       0.00      0.00      0.00        22
        MBXX       0.65      0.42      0.51        26
        PDBC       0.00      0.00      0.00         1
        PDFD       0.99      0.99      0.99      2869
        PDHD       0.00      0.00      0.00         1
        PDPM       0.97      0.92      0.95       543
        PDUI       0.00      0.00      0.00        15
        PDXX       0.55      0.41      0.47        51
        PRAG       0.98      0.80      0.88       503
        PRPO       0.90      0.80      0.85       298
        PRXX       0.94      0.98      0.96      4049
        QAXX       1.00      0.95      0.97       362
        QUTF       0.72      0.79      0.75        42
        QUTS       1.00      0.97      0.98       415
        RABA       0.90      0.83      0.86       377
        RABF       0.95      0.98      0.97       193
        RAPR       0.96      0.81      0.88        31
        RARA       0.95      0.58      0.72        97
        RASR       1.00      0.94      0.97        17
        RAVA       0.00      0.00      0.00         1
        RICR       0.83      0.83      0.83        12
        RIER       0.89      0.92      0.90        36
        RIMR       0.80      0.50      0.62         8
        RIOR       0.97      0.98      0.97       258
        RSSC       1.00      1.00      1.00        12
        RSSD       0.16      0.48      0.24        23
        RSVM       1.00      1.00      1.00         4
        SAAC       0.93      0.92      0.93        92
        SABD       0.93      0.79      0.85       140
        SACS       1.00      0.75      0.86        16
        SAIN       0.99      0.98      0.99       266
        SAPS       0.66      0.47      0.55       117
        SASD       0.50      0.29      0.36        14
        SAXX       0.87      0.27      0.42        73
        SCCP       1.00      0.86      0.92        50
        SSSO       1.00      1.00      1.00        17
        SYAS       0.11      0.10      0.11        10
        SYGR       1.00      0.53      0.70        15
        SYIM       1.00      0.97      0.98        59
        SYIN       0.91      0.45      0.61        22
        SYIS       0.00      0.00      0.00         1
        SYPT       0.00      0.00      0.00         1
        SYXX       0.90      0.61      0.73       422
        TEAU       0.76      0.62      0.68      2113
        TEEM       0.00      0.00      0.00        11
        TEMT       0.78      0.76      0.77       159
        TEXX       0.95      0.53      0.68        36
        TOCO       0.98      0.98      0.98      2304
        TOFC       0.84      0.83      0.83       569
        TOFS       1.00      0.80      0.89        30
        TOMR       0.99      0.71      0.83        98
        TOPO       0.86      0.51      0.64        35
        TOSI       0.96      0.95      0.95      1153
        TRPR       1.00      1.00      1.00        68
        TRTN       1.00      0.71      0.83        14
        TWXX       1.00      0.94      0.97        34
        UEXX       1.00      0.99      0.99       815
        VATR       1.00      1.00      1.00         5

    accuracy                           0.89     87798
   macro avg       0.73      0.62      0.64     87798
weighted avg       0.89      0.89      0.88     87798

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [28]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)
    
X_unseen = hstack(X_test_unseen)

In [29]:
y_test_pred = model.predict (X_unseen)

In [30]:
pd.DataFrame(y_test_pred).to_csv('maps_gcc')

In [31]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.8791788423195805

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AAAA       0.00      0.00      0.00         1
        AADS       1.00      0.97      0.98      2249
        AAMD       0.97      0.86      0.91       236
        AAML       0.00      0.00      0.00        11
        AFAD       0.95      0.94      0.95        89
        AFFE       0.93      0.62      0.74        21
        AFSE       1.00      0.71      0.83         7
        AFXX       1.00      0.96      0.98        75
        ARCD       0.00      0.00      0.00       178
        ARIA       1.00      1.00      1.00        54
        ARRP       0.00      0.00      0.00        34
        ARXX       1.00      0.95      0.97      1931
        ASCD       0.79      0.79      0.79      4080
        ASDB       0.00      0.00      0.00       181
        ASEC       0.00      0.00      0.00        16
        ASFS       0.35      0.76      0.48       169
        ASMD       0.00      0.00      0.00        61
        ASPI       0.90      0.47      0.61       374
        ASRP       0.95      0.10      0.19       344
        ASSI       1.00      0.07      0.13       152
        ASUI       0.89      0.13      0.23       302
        ASXX       0.87      0.99      0.93     32532
        BCPM       0.00      0.00      0.00         2
        BFAC       0.91      0.98      0.95       172
        BFAM       0.56      0.08      0.14        60
        BFCA       0.99      0.90      0.94        83
        BFCB       1.00      1.00      1.00       628
        BFCM       0.56      0.98      0.71       243
        BFFU       0.36      0.92      0.52       204
        BFIR       1.00      1.00      1.00       282
        BFKY       0.94      0.78      0.85       196
        BFLP       1.00      1.00      1.00        23
        BFPC       1.00      0.11      0.19       140
        BFTF       1.00      0.99      0.99        87
        BFTO       1.00      0.85      0.92       156
        BFUW       0.93      0.95      0.94       143
        BFWB       1.00      1.00      1.00        65
        BSMT       0.72      0.85      0.78        52
        CCCE       1.00      1.00      1.00       191
        CCCO       1.00      1.00      1.00        23
        CCCV       1.00      1.00      1.00       857
        CCID       0.00      0.00      0.00         1
        CCII       1.00      1.00      1.00         7
        CCMD       1.00      0.97      0.99       234
        CCMI       0.00      0.00      0.00         1
        CCVD       1.00      1.00      1.00         3
        CMDO       1.00      0.02      0.03       118
        CMDS       1.00      0.31      0.47        36
        CMXX       1.00      0.93      0.96        54
        CSBC       0.98      0.96      0.97      2655
        CSCG       0.77      0.98      0.87        59
        CSCS       0.00      0.00      0.00         3
        CSED       1.00      0.43      0.60         7
        CSEL       0.00      0.00      0.00         4
        CSFC       0.95      0.90      0.92      1183
        CSPS       0.00      0.00      0.00        12
        DABD       0.82      0.48      0.61       635
        DABI       0.96      0.35      0.51       234
        DADV       0.74      0.24      0.36        58
        DADW       0.00      0.00      0.00       345
        DMDA       0.00      0.00      0.00         7
        DMMD       0.00      0.00      0.00        11
        DMSM       0.96      0.73      0.83        33
        EDEE       1.00      1.00      1.00        15
        EDME       0.90      1.00      0.95        19
        EDXX       1.00      0.96      0.98       120
        FAAG       0.90      0.87      0.88       272
        FAAP       0.99      1.00      0.99       520
        FAER       0.62      0.13      0.22       113
        FAFA       0.92      0.70      0.79       348
        FAFI       1.00      1.00      1.00       334
        FALC       0.65      0.93      0.76       147
        FAML       1.00      0.88      0.93        80
        FARR       0.00      0.00      0.00        14
        FASR       0.75      0.25      0.38        12
        FATA       1.00      0.50      0.67        12
        FATP       1.00      1.00      1.00        78
        FLAC       0.95      0.96      0.95       148
        FLCS       0.00      0.00      0.00         2
        FLFA       1.00      1.00      1.00        18
        FLLE       1.00      0.64      0.78        14
        FLPP       1.00      0.96      0.98       155
        FLPR       0.71      0.98      0.83        60
        FLTR       1.00      0.82      0.90        74
        FLTX       1.00      0.88      0.93         8
        FLXX       0.70      0.45      0.55       186
        GDXX       0.00      0.00      0.00         9
        HCCA       1.00      1.00      1.00      1672
        HCCR       1.00      1.00      1.00       210
        HCMC       0.81      0.83      0.82       772
        HCMR       0.00      0.00      0.00         4
        HCRM       1.00      0.98      0.99       744
        HRBP       0.67      0.56      0.61       243
        HRCB       1.00      0.39      0.56        18
        HRDI       0.00      0.00      0.00        14
        HRGM       1.00      0.21      0.34        63
        HROD       0.00      0.00      0.00        12
        HRRE       0.88      0.83      0.86       484
        HRRM       0.47      0.16      0.24        51
        HRSS       0.99      0.90      0.94       147
        HRTR       1.00      0.84      0.91       158
        HRXX       0.95      0.67      0.78        78
        HSGM       0.00      0.00      0.00         1
        HSPL       1.00      1.00      1.00         8
        HSSC       1.00      0.44      0.61        16
        INAU       0.96      0.81      0.88        32
        INCL       0.92      0.53      0.68       413
        INDB       0.95      0.88      0.91       628
        INDC       0.98      0.96      0.97        57
        INDS       0.69      0.14      0.24       406
        INFS       1.00      0.30      0.47        23
        INNE       1.00      0.64      0.78       613
        INRA       0.80      0.55      0.65       209
        INRE       1.00      1.00      1.00         1
        INRI       0.99      0.93      0.96       405
        INRP       0.00      0.00      0.00         5
        INSA       0.00      0.00      0.00        49
        INSS       0.99      0.99      0.99      2172
        INTI       1.00      1.00      1.00         3
        INXX       0.80      0.85      0.83      3594
        ITAU       0.52      0.43      0.47        37
        LECM       0.00      0.00      0.00         1
        LECO       0.85      0.94      0.89       154
        LEPO       1.00      0.93      0.96        28
        LERE       0.00      0.00      0.00         2
        MBCC       1.00      1.00      1.00         8
        MBCM       0.91      0.81      0.85        36
        MBDM       0.92      0.82      0.87        40
        MBGM       0.00      0.00      0.00        22
        MBXX       0.65      0.42      0.51        26
        PDBC       0.00      0.00      0.00         1
        PDFD       0.99      0.99      0.99      2869
        PDHD       0.00      0.00      0.00         1
        PDPM       0.97      0.92      0.95       543
        PDUI       0.00      0.00      0.00        15
        PDXX       0.55      0.41      0.47        51
        PRAG       0.98      0.80      0.88       503
        PRPO       0.90      0.80      0.85       298
        PRXX       0.94      0.98      0.96      4049
        QAXX       1.00      0.95      0.97       362
        QUTF       0.72      0.79      0.75        42
        QUTS       1.00      0.97      0.98       415
        RABA       0.90      0.83      0.86       377
        RABF       0.95      0.98      0.97       193
        RAPR       0.96      0.81      0.88        31
        RARA       0.95      0.58      0.72        97
        RASR       1.00      0.94      0.97        17
        RAVA       0.00      0.00      0.00         1
        RICR       0.83      0.83      0.83        12
        RIER       0.89      0.92      0.90        36
        RIMR       0.80      0.50      0.62         8
        RIOR       0.97      0.98      0.97       258
        RSSC       1.00      1.00      1.00        12
        RSSD       0.16      0.48      0.24        23
        RSVM       1.00      1.00      1.00         4
        SAAC       0.93      0.92      0.93        92
        SABD       0.93      0.79      0.85       140
        SACS       1.00      0.75      0.86        16
        SAIN       0.99      0.98      0.99       266
        SAPS       0.66      0.47      0.55       117
        SASD       0.50      0.29      0.36        14
        SAXX       0.87      0.27      0.42        73
        SCCP       1.00      0.86      0.92        50
        SSSO       1.00      1.00      1.00        17
        SYAS       0.11      0.10      0.11        10
        SYGR       1.00      0.53      0.70        15
        SYIM       1.00      0.97      0.98        59
        SYIN       0.91      0.45      0.61        22
        SYIS       0.00      0.00      0.00         1
        SYPT       0.00      0.00      0.00         1
        SYXX       0.90      0.61      0.73       422
        TEAU       0.76      0.62      0.68      2113
        TEEM       0.00      0.00      0.00        11
        TEMT       0.78      0.76      0.77       159
        TEXX       0.95      0.53      0.68        36
        TOCO       0.98      0.98      0.98      2304
        TOFC       0.84      0.83      0.83       569
        TOFS       1.00      0.80      0.89        30
        TOMR       0.99      0.71      0.83        98
        TOPO       0.86      0.51      0.64        35
        TOSI       0.96      0.95      0.95      1153
        TRPR       1.00      1.00      1.00        68
        TRTN       1.00      0.71      0.83        14
        TWXX       1.00      0.94      0.97        34
        UEXX       1.00      0.99      0.99       815
        VATR       1.00      1.00      1.00         5

    accuracy                           0.89     87798
   macro avg       0.73      0.62      0.64     87798
weighted avg       0.89      0.89      0.88     87798

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [32]:
df_test

               Co. Designation Co. Function Job Family Code
0      Senior Project Engineer    ICORE-CRS            SYXX
1      Senior Project Engineer    ICORE-CRS            SYIN
2                Test Engineer    ICORE-CRS            SYAS
3         Senior Administrator    ICORE-CIS            INXX
4                Administrator    ICORE-CIS            INXX
...                        ...          ...             ...
94970         Systems Engineer    Developer            ASXX
94971         Systems Engineer     Engineer            ASXX
94972         Systems Engineer    Developer            ASXX
94973         Systems Engineer    Developer            ASXX
94974         Systems Engineer     Engineer            ASXX

[94793 rows x 3 columns]