<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/ites%20combined.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [8]:
df1 = pd.read_csv('ites_tr1.csv', encoding='windows-1252')
df2 = pd.read_csv('ites_tr2.csv', encoding='windows-1252')
df3 = pd.read_csv('ites_tr3.csv', encoding='windows-1252')
df=pd.concat([df1,df2,df3],ignore_index=True,axis=0)
df

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Citi Corp Hi Tech & ITES 2022,Cash and Trade Proc Rep,Corporate & Commercial Banking Operations,TOFS
1,Citi Corp Hi Tech & ITES 2022,Consumer Product Sales Manager,Sales,SAXX
2,Citi Corp Hi Tech & ITES 2022,Serv & Sales Specialist,Client Service Delivery,CCVD
3,Citi Corp Hi Tech & ITES 2022,Client Service Officer,Client Service Delivery,CCVD
4,Citi Corp Hi Tech & ITES 2022,Serv & Sales Specialist,Client Service Delivery,CCVD
...,...,...,...,...
1543195,Workday,P2 Sr Associate Integration Consultant,Professional Services / Consulting / Outsourcing,ASSI
1543196,Workday,P2 Sr Associate Integration Consultant,Professional Services / Consulting / Outsourcing,ASSI
1543197,Workday,P3 Software Application Engineer BT,Engineering,ASXX
1543198,Workday,P3 Software Application Engineer BT,Engineering,ASXX
1543199,Workday,P2 Sr Associate Software Application Engineer BT,Engineering,ASXX

In [17]:
df_test = pd.read_csv('ites_test1.csv', encoding='windows-1252')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYXX
1,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYIN
2,Wipro Set 1 Hi Tech & ITES 2022,Test Engineer,ICORE-CRS,SYAS
3,Wipro Set 1 Hi Tech & ITES 2022,Senior Administrator,ICORE-CIS,INXX
4,Wipro Set 1 Hi Tech & ITES 2022,Administrator,ICORE-CIS,INXX

In [18]:
df.shape
set(df['Company Name'])

{'3 Pillar Global Hi Tech & ITES 2022',
 'ANZ Hi Tech & ITES 2022',
 'Abinbev Hi Tech & ITES 2022',
 'Accenture Radford 2022',
 'Airbnb',
 'Allstate',
 'Altisource',
 'Amadeus Hi Tech & ITES 2022',
 'Amdocs India Development Center LLP',
 'Arctern - India',
 'Ares SSG',
 'ArisGlobal Software Pvt Ltd',
 'Aristocrat Technologies India Pvt Ltd',
 'AstraZeneca India Pvt. Ltd.',
 'Atkins Hi Tech & ITES 2022',
 'BNYM Hitech and ites 2022',
 'Baxter Innovation and Business Solutions Pvt Ltd ',
 'Bechtel',
 'BlackRock Services India Pvt Ltd',
 'BrowserStack',
 'CDK Global Hi Tech & ITES 2022',
 'Capgemini ASCD,CSBC,CSFC,INXX,TEAU Hi Tech & ITES 2022',
 'Capgemini ASPI,ASUI,ASXX Others Hi Tech & ITES 2022',
 'Capgemini ASXXI1 Hi Tech & ITES 2022',
 'Capgemini ITES 2022',
 'Capgemini Others Hi Tech & ITES 2022',
 'Citi Corp Hi Tech & ITES 2022',
 'Clifford Chance Business Services ',
 'CoinDCX Hi Tech & ITES 2022',
 'Compucomm Hi Tech & ITES 2022',
 'Concentrix Hi Tech & ITES 2021',
 'Crisil Hi Tech & ITES 2022',
 'Cyllid Technologies Private Limited',
 'DBOI Hi Tech & ITES 2021',
 'DBS Asia Hub 2',
 'DBSschenker',
 'Danske IT',
 'Data Weave Hi Tech & ITES 2022',
 'Dealshare Non Tech Hi Tech & ITES 2022',
 'Dealshare Tech Hi Tech & ITES 2022',
 'Deloitte Consulting Hi Tech & ITES 2022',
 'Deloitte Others Hi Tech & ITES 2022',
 'Deluxe ',
 'Denali AI ',
 'Diageo',
 'Duff & Phelps Hi Tech & ITES 2021',
 'Eclerx Hi Tech & ITES 2022',
 'EcomExpress Hi Tech & ITES 2022',
 'Edelweiss ',
 'Egon ',
 'Envoy Hi Tech & ITES 2022',
 'Expedia',
 'FIS',
 'Factset Hi Tech & ITES 2022',
 'Firstsource Hi Tech and Ites 2022',
 'FlatworldSolutions Hi Tech & ITES 2022',
 'Flextronics Hi Tech and Ites 2022',
 'Flipkart',
 'Future Plan Hi Tech & ITES 2022',
 'GEP Hi Tech & ITES 2022',
 'General Mills',
 'Genpact Set 1 Hi Tech & ITES 2022',
 'Genpact Set 2 Hi Tech & ITES 2022',
 'Goldman Sachs Hi Tech & ITES 2022',
 'Greatwest Hi Tech & ITES 2022',
 'Grey Orange Hi Tech & ITES 2022',
 'Groupon',
 'HCCB (RPSI) Hi Tech & ITES 2022',
 'HCL Others 1 Hi Tech & ITES 2021',
 'HCL Others 2 Hi Tech & ITES 2021',
 'HCL-ASXX INDS Hi Tech & ITES 2021',
 'HP',
 'Harman India Hi Tech & ITES 2022',
 'Holcim GDH Hi Tech & ITES 2022',
 'Holcim Hi Tech & ITES 2022',
 'IBM (Radford Data)',
 'IFTAS',
 'Infogain Hi Tech 2020',
 'Infor ITES 2022',
 'Inmobi',
 'Invesco Hi Tech & ITES 2022',
 'JLL Hi Tech & ITES 2020',
 'KPMG',
 'Legato Hi Tech & ITES 2022',
 'Lowes Hi Tech & ITES 2022',
 'M&G Global Services Pvt Ltd',
 'MBRDI Hi Tech & ITES 2022',
 'MMC Hi Tech & ITES 2022',
 'Manhattan Associates',
 'Metlife',
 'Metricstream Hi Tech & ITES 2022',
 'Microland Hi Tech & ITES 2022',
 'Midland Credit Management Hi Tech & ITES 2022',
 'Mindtree Ltd.',
 'Morning Star Hi Tech & ITES 2022',
 'NTT Data Hi Tech & ITES 2022',
 'NTT ITeS',
 'Nestle ITES 2022',
 'Northern Trust Hi Tech & ITES 2022',
 'O9 Solutions Hi Tech & ITES 2022',
 'Olam Technology and Business Services',
 'Oracle',
 'PGS Hi Tech & ITES 2022',
 'PWC Hi Tech & ITES 2022',
 'Pepsi GBS',
 'Quantela Hi Tech & ITES 2022',
 'Quinnox Hi Tech & ITES 2022',
 'R1RCM Hi Tech & ITES 2022',
 'Roppen Transportation Services Pvt Ltd',
 'SAP Fioneer Hi Tech & ITES 2022',
 'SAP SE',
 'SE2 Digital Hi Tech & ITES 2022',
 'Saks Hi Tech & ITES 2022',
 'Sandvine',
 'Sapient',
 'Soc Gen Hi Tech & ITES 2022',
 'Springboard Hi Tech & ITES 2022',
 'Statestreet Hi Tech and Ites 2022',
 'Swiss Re Hi Tech & ITES 2021',
 'TCS I1-I3 Part 2 Hi Tech & ITES 2022',
 'TCS I1-I3 Part 3 Hi Tech & ITES 2022',
 'TCS I4-I6 Part 1 Hi Tech & ITES 2022',
 'TCS I4-I6 Part 2 Hi Tech & ITES 2022',
 'TCS M Levels Hi Tech & ITES 2022',
 'TIAA Hi Tech & ITES 2022',
 'Tektronix Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Thryve Hi Tech & ITES 2022',
 'Trafigura Global Services',
 'UHG Hi Tech & ITES 2022',
 'Ugam Solutions Hi Tech & ITES 2022',
 'Unisys Hi Tech & ITES 2022',
 'Virtusa Hi Tech & ITES 2022',
 'Volvo Group India',
 'WNS Global Services Hi Tech & ITES 2022',
 'Wells Fargo Hi Tech & ITES 2022',
 'WhitehatJr Hi Tech & ITES 2022',
 'Wipro Set 2 Hi Tech & ITES 2022',
 'Wipro Set 3 Hi Tech & ITES 2022',
 'Workday',
 'Yash Technologies Hi Tech & ITES 2022'}

In [19]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [20]:
train_cols = ['Co. Designation', 'Co. Function']

In [21]:
target_col = 'Job Family Code'

In [22]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [23]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [24]:
# Load data
data = df

In [25]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYXX
1,Wipro Set 1 Hi Tech & ITES 2022,Senior Project Engineer,ICORE-CRS,SYIN
2,Wipro Set 1 Hi Tech & ITES 2022,Test Engineer,ICORE-CRS,SYAS
3,Wipro Set 1 Hi Tech & ITES 2022,Senior Administrator,ICORE-CIS,INXX
4,Wipro Set 1 Hi Tech & ITES 2022,Administrator,ICORE-CIS,INXX

In [26]:
data = data[all_cols]
data = data.dropna()

In [27]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [28]:
data.shape

,Co. Designation,Co. Function,Job Family Code
0,Cash and Trade Proc Rep,Corporate & Commercial Banking Operations,TOFS
1,Consumer Product Sales Manager,Sales,SAXX
2,Serv & Sales Specialist,Client Service Delivery,CCVD
3,Client Service Officer,Client Service Delivery,CCVD
4,Serv & Sales Specialist,Client Service Delivery,CCVD

In [29]:
df_test.head()

           Co. Designation Co. Function Job Family Code
0  Senior Project Engineer    ICORE-CRS            SYXX
1  Senior Project Engineer    ICORE-CRS            SYIN
2            Test Engineer    ICORE-CRS            SYAS
3     Senior Administrator    ICORE-CIS            INXX
4            Administrator    ICORE-CIS            INXX

In [30]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [31]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [32]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.7408351939138345

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AAAA       0.00      0.00      0.00        20
        AADS       0.95      0.76      0.84      3344
        AAIB       0.00      0.00      0.00         1
        AAMD       0.83      0.72      0.77       593
        AAML       0.94      0.34      0.50        88
        AARA       0.00      0.00      0.00         1
        AFAD       0.73      0.80      0.76       381
        AFFE       0.61      0.50      0.55       119
        AFSE       0.84      0.56      0.67       100
        AFXX       0.67      0.57      0.62       149
        ARCD       0.71      0.07      0.13       478
        ARIA       0.86      0.73      0.79       140
        ARRP       0.39      0.27      0.32       466
        ARSY       0.00      0.00      0.00         3
        ARXX       0.84      0.75      0.79      2791
        ASCD       0.75      0.58      0.65      7200
        ASDB       1.00      0.04      0.08       441
        ASEC       0.62      0.58      0.60       594
        ASFS       0.60      0.55      0.57      1117
        ASMD       0.72      0.19      0.31       838
        ASPI       0.42      0.73      0.53      6708
        ASRP       0.71      0.11      0.19       778
        ASSI       0.46      0.22      0.30       861
        ASUI       0.70      0.14      0.23      1451
        ASWD       0.92      0.25      0.39       508
        ASXX       0.75      0.90      0.82     64942
        BCPM       0.00      0.00      0.00        15
        BFAC       0.95      0.82      0.88       232
        BFAM       0.83      0.37      0.51       213
        BFCA       0.97      0.92      0.95       280
        BFCB       0.89      0.52      0.66      1475
        BFCM       0.64      0.77      0.70      1460
        BFFU       0.44      0.92      0.60       376
        BFIC       0.00      0.00      0.00       317
        BFIR       1.00      0.97      0.98       245
        BFIS       0.94      0.49      0.65       448
        BFKY       0.81      0.66      0.73       695
        BFLP       0.63      0.90      0.74       797
        BFPC       0.24      0.23      0.24       181
        BFTF       0.95      0.55      0.70       393
        BFTO       0.84      0.66      0.74      1540
        BFUW       0.20      0.58      0.30      1162
        BFWB       0.49      0.69      0.57       117
        BSMT       0.93      0.91      0.92      1138
        BSOP       0.00      0.00      0.00         9
        CCCE       0.98      0.65      0.78      1230
        CCCO       0.95      0.48      0.64       754
        CCCV       0.70      0.86      0.77      1903
        CCCW       0.82      0.95      0.88      1866
        CCID       0.00      0.00      0.00         2
        CCII       0.00      0.00      0.00        70
        CCMD       0.96      0.90      0.93       533
        CCMI       0.84      0.49      0.62       734
        CCOI       0.00      0.00      0.00       167
        CCVD       0.62      0.07      0.12       581
        CCVI       0.62      0.99      0.76      1483
        CMDO       0.87      0.23      0.36       714
        CMDS       1.00      0.45      0.62        29
        CMXX       0.89      0.51      0.65       243
        CSAN       0.00      0.00      0.00        16
        CSBC       0.67      0.74      0.70      5296
        CSCG       0.69      0.82      0.75       120
        CSCS       0.93      0.23      0.37       122
        CSCW       0.00      0.00      0.00         3
        CSED       0.77      0.10      0.18       637
        CSEL       0.00      0.00      0.00        20
        CSFC       0.77      0.49      0.60      5808
        CSPS       0.00      0.00      0.00        15
        CSSI       0.92      0.26      0.41      2541
        DABD       0.81      0.20      0.32      2447
        DABI       0.76      0.50      0.60      1570
        DADV       0.70      0.34      0.45       413
        DADW       0.70      0.26      0.38      1401
        DMDA       0.49      0.05      0.09       355
        DMKM       0.24      0.38      0.29       248
        DMMD       0.49      0.49      0.49       368
        DMSM       0.75      0.16      0.26       373
        EDCA       0.33      0.62      0.43       387
        EDEE       0.52      0.75      0.61       157
        EDFE       0.43      0.53      0.48        19
        EDME       0.87      0.45      0.59       557
        EDXX       0.44      0.57      0.50      1408
        FAAG       0.56      0.38      0.45      2314
        FAAP       0.43      0.88      0.58      5660
        FAAU       0.93      0.97      0.95      2828
        FADS       1.00      0.32      0.48        50
        FADT       0.00      0.00      0.00         1
        FAER       0.70      0.04      0.08       689
        FAFA       0.59      0.76      0.67      1598
        FAFD       0.80      1.00      0.89        88
        FAFI       0.97      0.89      0.93       417
        FAIT       0.00      0.00      0.00         1
        FALC       0.48      0.53      0.50       252
        FAML       0.62      0.67      0.65       247
        FARR       0.00      0.00      0.00        43
        FASR       0.96      0.30      0.46        76
        FATA       0.50      0.04      0.07        57
        FATP       0.96      0.95      0.95        92
        FLAC       0.60      0.60      0.60      1258
        FLCS       0.00      0.00      0.00         8
        FLFA       0.73      0.26      0.38        43
        FLLE       0.78      0.54      0.64       162
        FLMI       0.34      0.10      0.16       115
        FLPP       0.93      0.93      0.93       741
        FLPR       0.75      0.62      0.68       234
        FLTR       0.94      0.50      0.65       137
        FLTX       0.99      0.97      0.98      1665
        FLXX       0.74      0.78      0.76      2795
        GDXX       0.75      0.51      0.61       126
        HCCA       1.00      0.92      0.96      1868
        HCCR       1.00      0.82      0.90       282
        HCMC       0.82      0.82      0.82       830
        HCMR       0.49      0.40      0.45       121
        HCMT       0.00      0.00      0.00        19
        HCRM       0.88      0.46      0.60      1693
        HRBP       0.68      0.52      0.59      1029
        HRCB       0.92      0.36      0.51        98
        HRDI       0.00      0.00      0.00        11
        HRGM       0.78      0.11      0.19        64
        HROD       0.00      0.00      0.00        27
        HRRE       0.85      0.78      0.81      1191
        HRRM       0.91      0.29      0.44       102
        HRSS       0.72      0.69      0.70       438
        HRTR       0.91      0.77      0.83       470
        HRXX       0.68      0.51      0.58       241
        HSCB       0.00      0.00      0.00         2
        HSGL       0.61      0.09      0.15       418
        HSGM       1.00      0.11      0.20         9
        HSLD       0.00      0.00      0.00        11
        HSPL       0.75      0.29      0.41        42
        HSRS       0.00      0.00      0.00        17
        HSSC       0.89      0.31      0.46        26
        INAU       0.82      0.61      0.70       238
        INCL       0.96      0.56      0.71       578
        INDB       0.94      0.69      0.80      1085
        INDC       0.98      0.46      0.62       186
        INDS       0.73      0.72      0.72      3537
        INFS       0.92      0.62      0.74       107
        INNE       0.68      0.56      0.61      1705
        INRA       0.88      0.80      0.84      1468
        INRE       0.96      0.11      0.20       234
        INRI       0.92      0.75      0.83       521
        INRP       1.00      0.33      0.50        57
        INSA       1.00      0.03      0.06       181
        INSS       0.94      0.82      0.87      2806
        INTI       0.98      0.87      0.92       159
        INXX       0.64      0.78      0.71      9344
        IPXX       0.00      0.00      0.00         4
        ITAU       0.35      0.38      0.36        87
        LECM       1.00      0.14      0.24        58
        LECO       0.76      0.59      0.67       479
        LEPO       0.80      0.50      0.61        70
        LERE       0.00      0.00      0.00         5
        MBCC       0.68      0.29      0.41        52
        MBCM       0.42      0.29      0.34       140
        MBDM       0.60      0.09      0.16       551
        MBGM       0.00      0.00      0.00        26
        MBSE       0.00      0.00      0.00         8
        MBXX       0.85      0.89      0.87      5974
        NAI1       0.00      0.00      0.00         4
        NAI2       0.00      0.00      0.00         6
        NAI3       0.00      0.00      0.00         3
        No M       0.70      0.72      0.71      7564
        No m       0.40      0.24      0.30        17
        PDBC       0.00      0.00      0.00         9
        PDFD       0.97      0.90      0.93      3467
        PDFS       0.00      0.00      0.00        55
        PDHD       0.68      0.81      0.74       146
        PDID       0.00      0.00      0.00        25
        PDPM       0.84      1.00      0.91     27601
        PDUI       0.87      0.83      0.85       240
        PDXX       0.78      0.58      0.67      5100
        PRAG       0.90      0.64      0.74       709
        PRPO       0.85      0.66      0.74       891
        PRXX       0.78      0.79      0.79      5990
        QAXX       0.90      0.57      0.70       711
        QUTF       0.78      0.49      0.60       483
        QUTS       0.93      0.87      0.90      1175
        RABA       0.66      0.44      0.53      1682
        RABF       0.80      0.57      0.66       394
        RAPR       0.96      0.81      0.88        31
        RARA       0.53      0.44      0.48       967
        RASR       0.96      0.79      0.87       644
        RAVA       0.99      0.54      0.70       223
        REBM       0.00      0.00      0.00         2
        RECR       0.00      0.00      0.00         1
        RICR       0.74      0.42      0.53       129
        RIER       0.77      0.76      0.77       250
        RIMR       0.36      0.39      0.37        87
        RIOR       0.43      0.69      0.53       713
        RSMO       0.85      0.94      0.89        87
        RSSC       0.63      0.03      0.05       428
        RSSD       0.71      0.49      0.58        41
        RSVM       0.89      0.21      0.34        38
        RSWL       0.42      0.57      0.48       139
        SAAC       0.79      0.78      0.78       337
        SABD       0.77      0.81      0.79       732
        SACH       0.97      0.95      0.96        37
        SACS       0.99      0.99      0.99      4653
        SAIN       0.98      0.95      0.96       376
        SAPA       0.00      0.00      0.00         2
        SAPS       0.52      0.61      0.56      1147
        SASD       0.51      0.43      0.46       247
        SAXX       0.89      0.71      0.79       585
        SCCP       0.88      0.92      0.90       326
        SRAO       0.00      0.00      0.00         8
        SSSO       0.76      0.43      0.55       169
        SYAS       1.00      0.11      0.20        36
        SYGR       0.90      0.40      0.55        70
        SYIM       0.83      0.31      0.45       239
        SYIN       0.79      0.75      0.77       112
        SYIS       0.68      0.34      0.45        56
        SYPT       0.00      0.00      0.00        16
        SYXX       0.67      0.50      0.57      1382
        TEAU       0.73      0.45      0.56      7476
        TEEM       0.95      0.05      0.09      2516
        TEMT       0.85      0.52      0.64      1311
        TEXX       0.90      0.86      0.88      3150
        TOCO       0.95      0.93      0.94      6570
        TOFC       0.62      0.82      0.70      3078
        TOFS       0.92      0.67      0.77       496
        TOHR       0.33      0.00      0.01       218
        TOMR       0.82      0.58      0.68       466
        TOPO       0.89      0.31      0.46       474
        TOSI       0.75      0.62      0.68      3008
        TRPR       0.99      0.73      0.84       202
        TRTN       0.91      0.67      0.77        88
        TSXX       0.00      0.00      0.00         1
        TTXX       0.75      0.91      0.82        44
        TWXX       0.82      0.52      0.63       293
        UEXX       0.97      0.88      0.92       988
        Unma       0.96      0.94      0.95      1170
        VATR       0.00      0.00      0.00         7
        aamd       0.00      0.00      0.00         1
        asxx       0.00      0.00      0.00         2
        bfam       0.00      0.00      0.00         1
        cmdo       0.00      0.00      0.00         1
        edxx       0.00      0.00      0.00         6
        indb       0.00      0.00      0.00         2
        inds       0.00      0.00      0.00         4
        mbxx       0.00      0.00      0.00         1
        pdxx       0.00      0.00      0.00         2
        rabf       0.00      0.00      0.00         2
        teau       0.00      0.00      0.00         4

    accuracy                           0.74    302325
   macro avg       0.60      0.44      0.47    302325
weighted avg       0.76      0.74      0.72    302325

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [33]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)

X_unseen = hstack(X_test_unseen)

In [34]:
y_test_pred = model.predict (X_unseen)

In [35]:
pd.DataFrame(y_test_pred).to_csv('maps_gcc')

In [36]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.8743472619286234

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AAAA       0.00      0.00      0.00        20
        AADS       0.95      0.76      0.84      3344
        AAIB       0.00      0.00      0.00         1
        AAMD       0.83      0.72      0.77       593
        AAML       0.94      0.34      0.50        88
        AARA       0.00      0.00      0.00         1
        AFAD       0.73      0.80      0.76       381
        AFFE       0.61      0.50      0.55       119
        AFSE       0.84      0.56      0.67       100
        AFXX       0.67      0.57      0.62       149
        ARCD       0.71      0.07      0.13       478
        ARIA       0.86      0.73      0.79       140
        ARRP       0.39      0.27      0.32       466
        ARSY       0.00      0.00      0.00         3
        ARXX       0.84      0.75      0.79      2791
        ASCD       0.75      0.58      0.65      7200
        ASDB       1.00      0.04      0.08       441
        ASEC       0.62      0.58      0.60       594
        ASFS       0.60      0.55      0.57      1117
        ASMD       0.72      0.19      0.31       838
        ASPI       0.42      0.73      0.53      6708
        ASRP       0.71      0.11      0.19       778
        ASSI       0.46      0.22      0.30       861
        ASUI       0.70      0.14      0.23      1451
        ASWD       0.92      0.25      0.39       508
        ASXX       0.75      0.90      0.82     64942
        BCPM       0.00      0.00      0.00        15
        BFAC       0.95      0.82      0.88       232
        BFAM       0.83      0.37      0.51       213
        BFCA       0.97      0.92      0.95       280
        BFCB       0.89      0.52      0.66      1475
        BFCM       0.64      0.77      0.70      1460
        BFFU       0.44      0.92      0.60       376
        BFIC       0.00      0.00      0.00       317
        BFIR       1.00      0.97      0.98       245
        BFIS       0.94      0.49      0.65       448
        BFKY       0.81      0.66      0.73       695
        BFLP       0.63      0.90      0.74       797
        BFPC       0.24      0.23      0.24       181
        BFTF       0.95      0.55      0.70       393
        BFTO       0.84      0.66      0.74      1540
        BFUW       0.20      0.58      0.30      1162
        BFWB       0.49      0.69      0.57       117
        BSMT       0.93      0.91      0.92      1138
        BSOP       0.00      0.00      0.00         9
        CCCE       0.98      0.65      0.78      1230
        CCCO       0.95      0.48      0.64       754
        CCCV       0.70      0.86      0.77      1903
        CCCW       0.82      0.95      0.88      1866
        CCID       0.00      0.00      0.00         2
        CCII       0.00      0.00      0.00        70
        CCMD       0.96      0.90      0.93       533
        CCMI       0.84      0.49      0.62       734
        CCOI       0.00      0.00      0.00       167
        CCVD       0.62      0.07      0.12       581
        CCVI       0.62      0.99      0.76      1483
        CMDO       0.87      0.23      0.36       714
        CMDS       1.00      0.45      0.62        29
        CMXX       0.89      0.51      0.65       243
        CSAN       0.00      0.00      0.00        16
        CSBC       0.67      0.74      0.70      5296
        CSCG       0.69      0.82      0.75       120
        CSCS       0.93      0.23      0.37       122
        CSCW       0.00      0.00      0.00         3
        CSED       0.77      0.10      0.18       637
        CSEL       0.00      0.00      0.00        20
        CSFC       0.77      0.49      0.60      5808
        CSPS       0.00      0.00      0.00        15
        CSSI       0.92      0.26      0.41      2541
        DABD       0.81      0.20      0.32      2447
        DABI       0.76      0.50      0.60      1570
        DADV       0.70      0.34      0.45       413
        DADW       0.70      0.26      0.38      1401
        DMDA       0.49      0.05      0.09       355
        DMKM       0.24      0.38      0.29       248
        DMMD       0.49      0.49      0.49       368
        DMSM       0.75      0.16      0.26       373
        EDCA       0.33      0.62      0.43       387
        EDEE       0.52      0.75      0.61       157
        EDFE       0.43      0.53      0.48        19
        EDME       0.87      0.45      0.59       557
        EDXX       0.44      0.57      0.50      1408
        FAAG       0.56      0.38      0.45      2314
        FAAP       0.43      0.88      0.58      5660
        FAAU       0.93      0.97      0.95      2828
        FADS       1.00      0.32      0.48        50
        FADT       0.00      0.00      0.00         1
        FAER       0.70      0.04      0.08       689
        FAFA       0.59      0.76      0.67      1598
        FAFD       0.80      1.00      0.89        88
        FAFI       0.97      0.89      0.93       417
        FAIT       0.00      0.00      0.00         1
        FALC       0.48      0.53      0.50       252
        FAML       0.62      0.67      0.65       247
        FARR       0.00      0.00      0.00        43
        FASR       0.96      0.30      0.46        76
        FATA       0.50      0.04      0.07        57
        FATP       0.96      0.95      0.95        92
        FLAC       0.60      0.60      0.60      1258
        FLCS       0.00      0.00      0.00         8
        FLFA       0.73      0.26      0.38        43
        FLLE       0.78      0.54      0.64       162
        FLMI       0.34      0.10      0.16       115
        FLPP       0.93      0.93      0.93       741
        FLPR       0.75      0.62      0.68       234
        FLTR       0.94      0.50      0.65       137
        FLTX       0.99      0.97      0.98      1665
        FLXX       0.74      0.78      0.76      2795
        GDXX       0.75      0.51      0.61       126
        HCCA       1.00      0.92      0.96      1868
        HCCR       1.00      0.82      0.90       282
        HCMC       0.82      0.82      0.82       830
        HCMR       0.49      0.40      0.45       121
        HCMT       0.00      0.00      0.00        19
        HCRM       0.88      0.46      0.60      1693
        HRBP       0.68      0.52      0.59      1029
        HRCB       0.92      0.36      0.51        98
        HRDI       0.00      0.00      0.00        11
        HRGM       0.78      0.11      0.19        64
        HROD       0.00      0.00      0.00        27
        HRRE       0.85      0.78      0.81      1191
        HRRM       0.91      0.29      0.44       102
        HRSS       0.72      0.69      0.70       438
        HRTR       0.91      0.77      0.83       470
        HRXX       0.68      0.51      0.58       241
        HSCB       0.00      0.00      0.00         2
        HSGL       0.61      0.09      0.15       418
        HSGM       1.00      0.11      0.20         9
        HSLD       0.00      0.00      0.00        11
        HSPL       0.75      0.29      0.41        42
        HSRS       0.00      0.00      0.00        17
        HSSC       0.89      0.31      0.46        26
        INAU       0.82      0.61      0.70       238
        INCL       0.96      0.56      0.71       578
        INDB       0.94      0.69      0.80      1085
        INDC       0.98      0.46      0.62       186
        INDS       0.73      0.72      0.72      3537
        INFS       0.92      0.62      0.74       107
        INNE       0.68      0.56      0.61      1705
        INRA       0.88      0.80      0.84      1468
        INRE       0.96      0.11      0.20       234
        INRI       0.92      0.75      0.83       521
        INRP       1.00      0.33      0.50        57
        INSA       1.00      0.03      0.06       181
        INSS       0.94      0.82      0.87      2806
        INTI       0.98      0.87      0.92       159
        INXX       0.64      0.78      0.71      9344
        IPXX       0.00      0.00      0.00         4
        ITAU       0.35      0.38      0.36        87
        LECM       1.00      0.14      0.24        58
        LECO       0.76      0.59      0.67       479
        LEPO       0.80      0.50      0.61        70
        LERE       0.00      0.00      0.00         5
        MBCC       0.68      0.29      0.41        52
        MBCM       0.42      0.29      0.34       140
        MBDM       0.60      0.09      0.16       551
        MBGM       0.00      0.00      0.00        26
        MBSE       0.00      0.00      0.00         8
        MBXX       0.85      0.89      0.87      5974
        NAI1       0.00      0.00      0.00         4
        NAI2       0.00      0.00      0.00         6
        NAI3       0.00      0.00      0.00         3
        No M       0.70      0.72      0.71      7564
        No m       0.40      0.24      0.30        17
        PDBC       0.00      0.00      0.00         9
        PDFD       0.97      0.90      0.93      3467
        PDFS       0.00      0.00      0.00        55
        PDHD       0.68      0.81      0.74       146
        PDID       0.00      0.00      0.00        25
        PDPM       0.84      1.00      0.91     27601
        PDUI       0.87      0.83      0.85       240
        PDXX       0.78      0.58      0.67      5100
        PRAG       0.90      0.64      0.74       709
        PRPO       0.85      0.66      0.74       891
        PRXX       0.78      0.79      0.79      5990
        QAXX       0.90      0.57      0.70       711
        QUTF       0.78      0.49      0.60       483
        QUTS       0.93      0.87      0.90      1175
        RABA       0.66      0.44      0.53      1682
        RABF       0.80      0.57      0.66       394
        RAPR       0.96      0.81      0.88        31
        RARA       0.53      0.44      0.48       967
        RASR       0.96      0.79      0.87       644
        RAVA       0.99      0.54      0.70       223
        REBM       0.00      0.00      0.00         2
        RECR       0.00      0.00      0.00         1
        RICR       0.74      0.42      0.53       129
        RIER       0.77      0.76      0.77       250
        RIMR       0.36      0.39      0.37        87
        RIOR       0.43      0.69      0.53       713
        RSMO       0.85      0.94      0.89        87
        RSSC       0.63      0.03      0.05       428
        RSSD       0.71      0.49      0.58        41
        RSVM       0.89      0.21      0.34        38
        RSWL       0.42      0.57      0.48       139
        SAAC       0.79      0.78      0.78       337
        SABD       0.77      0.81      0.79       732
        SACH       0.97      0.95      0.96        37
        SACS       0.99      0.99      0.99      4653
        SAIN       0.98      0.95      0.96       376
        SAPA       0.00      0.00      0.00         2
        SAPS       0.52      0.61      0.56      1147
        SASD       0.51      0.43      0.46       247
        SAXX       0.89      0.71      0.79       585
        SCCP       0.88      0.92      0.90       326
        SRAO       0.00      0.00      0.00         8
        SSSO       0.76      0.43      0.55       169
        SYAS       1.00      0.11      0.20        36
        SYGR       0.90      0.40      0.55        70
        SYIM       0.83      0.31      0.45       239
        SYIN       0.79      0.75      0.77       112
        SYIS       0.68      0.34      0.45        56
        SYPT       0.00      0.00      0.00        16
        SYXX       0.67      0.50      0.57      1382
        TEAU       0.73      0.45      0.56      7476
        TEEM       0.95      0.05      0.09      2516
        TEMT       0.85      0.52      0.64      1311
        TEXX       0.90      0.86      0.88      3150
        TOCO       0.95      0.93      0.94      6570
        TOFC       0.62      0.82      0.70      3078
        TOFS       0.92      0.67      0.77       496
        TOHR       0.33      0.00      0.01       218
        TOMR       0.82      0.58      0.68       466
        TOPO       0.89      0.31      0.46       474
        TOSI       0.75      0.62      0.68      3008
        TRPR       0.99      0.73      0.84       202
        TRTN       0.91      0.67      0.77        88
        TSXX       0.00      0.00      0.00         1
        TTXX       0.75      0.91      0.82        44
        TWXX       0.82      0.52      0.63       293
        UEXX       0.97      0.88      0.92       988
        Unma       0.96      0.94      0.95      1170
        VATR       0.00      0.00      0.00         7
        aamd       0.00      0.00      0.00         1
        asxx       0.00      0.00      0.00         2
        bfam       0.00      0.00      0.00         1
        cmdo       0.00      0.00      0.00         1
        edxx       0.00      0.00      0.00         6
        indb       0.00      0.00      0.00         2
        inds       0.00      0.00      0.00         4
        mbxx       0.00      0.00      0.00         1
        pdxx       0.00      0.00      0.00         2
        rabf       0.00      0.00      0.00         2
        teau       0.00      0.00      0.00         4

    accuracy                           0.74    302325
   macro avg       0.60      0.44      0.47    302325
weighted avg       0.76      0.74      0.72    302325

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [37]:
df_test

               Co. Designation Co. Function Job Family Code
0      Senior Project Engineer    ICORE-CRS            SYXX
1      Senior Project Engineer    ICORE-CRS            SYIN
2                Test Engineer    ICORE-CRS            SYAS
3         Senior Administrator    ICORE-CIS            INXX
4                Administrator    ICORE-CIS            INXX
...                        ...          ...             ...
94970         Systems Engineer    Developer            ASXX
94971         Systems Engineer     Engineer            ASXX
94972         Systems Engineer    Developer            ASXX
94973         Systems Engineer    Developer            ASXX
94974         Systems Engineer     Engineer            ASXX

[94793 rows x 3 columns]