<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v3_product_Inmobi_ExcludingTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd

In [33]:
df = pd.read_csv('Train_1_ExcludingTest.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Zeomega Hi Tech & ITES 2022,Software Developer,Software Development,PDFS
1,Zeomega Hi Tech & ITES 2022,QA Engineer,Software Development,TEMT
2,Zeomega Hi Tech & ITES 2022,Senior RFP Analyst,Software Development,SASD
3,Zeomega Hi Tech & ITES 2022,Sales Manager,Software Development,SASD
4,Zeomega Hi Tech & ITES 2022,Associate Project Manager,Software Development,PRPO

In [34]:
df_test = pd.read_csv('Test_3_Inmobi.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Inmobi,Director - Data Sciences,Data Sciences,AADS
1,Inmobi,Director - Data Sciences,Data Sciences,AADS
2,Inmobi,Director - Strategic Sales and Market Research,Platform Specialist,ASXX
3,Inmobi,Director - Performance Sales- Europe,Inside Sales,SAPS
4,Inmobi,Global Controller - Finance,Finance,FAAG

In [35]:
df.shape
set(df['Company Name'])

{'75F Hi Tech & ITES 2022',
 'Amadeus Hi Tech & ITES 2022',
 'American Express',
 'Applied Materials',
 'Atkins Hi Tech & ITES 2022',
 'Browser Hi Tech & ITES 2022',
 'Cadence Hi Tech & ITES 2022',
 'CoinDCX Hi Tech & ITES 2022',
 'Dealshare Non Tech Hi Tech & ITES 2022',
 'Dealshare Tech Hi Tech & ITES 2022',
 'Duck Creek Hi Tech & ITES 2022',
 'EcomExpress Hi Tech & ITES 2022',
 'Esri',
 'Expedia',
 'F5, Inc',
 'FalconX Tech & ITES 2022',
 'Finastra',
 'Freshworks Hi Tech & ITES 2022',
 'Furlenco Hi Tech & ITES 2022',
 'GEP Hi Tech & ITES 2022',
 'Games 24x7 - India',
 'Go-Jek',
 'Groupon',
 'HP Hi Tech & ITES 2022',
 'Honeywell International',
 'IQVIA',
 'Intel',
 'Jocata Hi Tech & ITES 2022',
 'Juniper Networks',
 'L&T EduTech Hi Tech & ITES 2022',
 'Lam Research',
 'LinkedIn Corporation',
 'Lockheed Martin',
 'Mastercard Worldwide',
 'Maxlinear',
 'McAfee',
 'Mediatek',
 'Mentor Graphics Hi Tech & ITES 2022',
 'Meta',
 'Microchip Technology',
 'MongoDB',
 'Motorola Hi Tech & ITES 2022',
 'NXP  Semiconductors Hi Tech & ITES 2022',
 'Netradyne Hi Tech & ITES 2022',
 'Nvidia Hi Tech & ITES 2022',
 'On Semiconductor Hi Tech & ITES 2022',
 'Pine Labs - India',
 'Rakuten',
 'Red Hat',
 'ST Micro Hi Tech & ITES 2022',
 'Saks Hi Tech & ITES 2022',
 'Samsung Delhi Hi Tech & ITES 2022',
 'Samsung Noida Hi Tech & ITES 2022',
 'Setu Hi Tech & ITES 2022',
 'Sopra Banking Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Texas Instruments Hi Tech & ITES 2022',
 'Visa U.S.A. Inc',
 'WNS Global Services Hi Tech & ITES 2022',
 'WhitehatJr Hi Tech & ITES 2022',
 'Zendesk',
 'Zeomega Hi Tech & ITES 2022',
 'Zynga Inc',
 'eBay'}

In [36]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [37]:
train_cols = ['Co. Designation', 'Co. Function']

In [38]:
target_col = 'Job Family Code'

In [39]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [40]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [41]:
# Load data
data = pd.read_csv('Train_1_ExcludingTest.csv')

In [42]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Inmobi,Director - Data Sciences,Data Sciences,AADS
1,Inmobi,Director - Data Sciences,Data Sciences,AADS
2,Inmobi,Director - Strategic Sales and Market Research,Platform Specialist,ASXX
3,Inmobi,Director - Performance Sales- Europe,Inside Sales,SAPS
4,Inmobi,Global Controller - Finance,Finance,FAAG

In [43]:
data = data[all_cols]
data = data.dropna()

In [44]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [45]:
data.head()

             Co. Designation          Co. Function Job Family Code
0         Software Developer  Software Development            PDFS
1                QA Engineer  Software Development            TEMT
2         Senior RFP Analyst  Software Development            SASD
3              Sales Manager  Software Development            SASD
4  Associate Project Manager  Software Development            PRPO

In [46]:
df_test.head()

,Co. Designation,Co. Function,Job Family Code
0,Director - Data Sciences,Data Sciences,AADS
1,Director - Data Sciences,Data Sciences,AADS
2,Director - Strategic Sales and Market Research,Platform Specialist,ASXX
3,Director - Performance Sales- Europe,Inside Sales,SAPS
4,Global Controller - Finance,Finance,FAAG

In [47]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [48]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [49]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.865353186853096

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.86      0.84      0.85       141
        AAMD       1.00      0.95      0.97        92
        AAML       0.95      0.87      0.91       108
        AFAD       0.81      0.54      0.65        24
        AFFE       0.88      0.70      0.78        30
        AFSE       0.25      0.33      0.29         6
        AFXX       0.91      0.76      0.83        41
        ARRP       1.00      0.75      0.86         4
        ARSY       0.00      0.00      0.00         1
        ARXX       0.94      0.89      0.91       366
        ASCD       1.00      0.18      0.30        17
        ASDB       0.80      0.86      0.83        73
        ASEC       0.00      0.00      0.00         1
        ASFS       0.24      0.99      0.39        77
        ASMD       0.00      0.00      0.00         3
        ASPI       0.78      0.64      0.70       103
        ASRP       0.14      0.02      0.04        42
        ASSI       0.33      0.33      0.33         3
        ASUI       0.95      0.72      0.82        29
        ASWD       1.00      1.00      1.00       103
        ASXX       0.86      0.78      0.82      1925
        BCPM       0.60      0.60      0.60         5
        BFAC       1.00      1.00      1.00        18
        BFCA       1.00      0.72      0.84        18
        BFCB       1.00      1.00      1.00        26
        BFCM       1.00      1.00      1.00         6
        BFIR       1.00      1.00      1.00        61
        BFKY       1.00      0.92      0.96        13
        BFTF       1.00      0.75      0.86         4
        BFTO       0.00      0.00      0.00         3
        BFUW       1.00      1.00      1.00        40
        BFWB       1.00      1.00      1.00        14
        BSMT       1.00      0.42      0.59        12
        CCCE       1.00      1.00      1.00        37
        CCCO       1.00      1.00      1.00         2
        CCCV       0.98      0.99      0.98       544
        CCMD       0.98      0.99      0.99       470
        CMDO       1.00      0.44      0.62        36
        CMXX       1.00      0.89      0.94        28
        CSAN       0.80      1.00      0.89        12
        CSBC       0.85      0.96      0.90       368
        CSCG       1.00      0.75      0.86        24
        CSCS       0.85      0.93      0.89        44
        CSED       0.00      0.00      0.00         1
        CSEL       0.67      0.50      0.57         4
        CSFC       0.83      0.77      0.80       310
        CSSI       0.93      0.83      0.87       180
        DABD       0.87      0.74      0.80        92
        DABI       0.70      0.46      0.56        56
        DADV       1.00      0.44      0.62         9
        DADW       0.00      0.00      0.00        11
        DMKM       0.00      0.00      0.00         3
        DMMD       0.00      0.00      0.00         1
        DMSM       1.00      1.00      1.00         5
        EDCA       1.00      0.91      0.95        85
        EDEE       0.99      0.95      0.97       682
        EDME       1.00      0.99      1.00       167
        EDXX       0.90      0.93      0.91        68
        FAAG       0.65      0.83      0.73       121
        FAAP       1.00      0.98      0.99       164
        FAER       1.00      0.80      0.89         5
        FAFA       0.74      0.85      0.79       187
        FAFI       1.00      1.00      1.00        30
        FALC       0.00      0.00      0.00         3
        FAML       1.00      0.95      0.97        19
        FLAC       0.90      0.60      0.72        45
        FLFA       0.50      1.00      0.67         4
        FLLE       0.97      0.99      0.98        78
        FLMI       0.00      0.00      0.00         2
        FLPP       0.98      0.95      0.97       118
        FLPR       0.68      0.98      0.81        59
        FLTR       1.00      0.67      0.80         6
        FLTX       1.00      0.65      0.79        17
        FLXX       0.83      0.63      0.72       271
        GDXX       0.92      0.81      0.86        27
        HCMC       1.00      1.00      1.00         1
        HCMR       0.98      1.00      0.99        48
        HCRM       1.00      0.74      0.85        34
        HRBP       0.71      0.80      0.75        99
        HRCB       1.00      0.89      0.94        19
        HROD       0.00      0.00      0.00         4
        HRRE       0.81      0.83      0.82       138
        HRRM       0.00      0.00      0.00         1
        HRSS       0.80      0.22      0.35        36
        HRTR       0.89      0.42      0.57        19
        HRXX       0.80      0.68      0.73        53
        HSGL       0.82      0.82      0.82        11
        INAU       0.78      0.39      0.52        18
        INCL       0.00      0.00      0.00        37
        INDB       0.79      0.67      0.73        49
        INDC       1.00      0.85      0.92        13
        INDS       0.91      0.80      0.85       141
        INFS       1.00      0.96      0.98        72
        INNE       0.86      0.70      0.77       113
        INRA       0.98      0.97      0.97       403
        INRE       0.84      0.64      0.73        25
        INRI       1.00      1.00      1.00         7
        INRP       0.00      0.00      0.00         1
        INSA       0.94      1.00      0.97        34
        INSS       0.47      0.42      0.44        19
        INXX       0.75      0.77      0.76       280
        ITAU       0.32      0.86      0.47        28
        LECM       0.96      1.00      0.98        22
        LECO       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        21
        LERE       0.00      0.00      0.00         1
        MBCC       1.00      0.79      0.88        14
        MBCM       0.72      0.58      0.64        50
        MBDM       0.69      0.33      0.45        33
        MBGM       0.00      0.00      0.00         7
        MBSE       1.00      1.00      1.00         3
        MBXX       0.64      0.89      0.74       116
        PDFD       0.94      0.73      0.82      1100
        PDFS       0.85      0.73      0.79        56
        PDHD       0.72      0.96      0.82      1092
        PDLE       0.99      0.97      0.98       675
        PDMD       0.67      0.14      0.24        14
        PDPM       0.85      0.81      0.83       338
        PDUI       0.78      0.30      0.43       103
        PDXX       0.86      0.96      0.91      3849
        PRAG       0.00      0.00      0.00        17
        PRPO       0.91      0.92      0.92       420
        PRXX       0.85      0.86      0.85       350
        QAXX       0.78      0.70      0.74        73
        QUTF       0.76      0.74      0.75        47
        QUTS       1.00      1.00      1.00        66
        RABA       0.95      0.85      0.90        66
        RABF       1.00      0.99      0.99        83
        RAPR       1.00      0.71      0.83        24
        RASR       1.00      0.90      0.95        10
        RICR       1.00      1.00      1.00         4
        RIOR       1.00      0.67      0.80         3
        RSMO       1.00      1.00      1.00        11
        RSSC       1.00      0.61      0.76        28
        RSSD       0.14      0.09      0.11        23
        RSVM       0.67      0.67      0.67         3
        RSWL       0.79      0.86      0.82       133
        SAAC       0.77      0.91      0.83       188
        SABD       0.83      0.75      0.79       221
        SACH       0.82      0.90      0.86        71
        SACS       0.98      0.94      0.96       101
        SAIN       0.78      0.90      0.84       104
        SAPS       0.91      0.88      0.89       125
        SASD       0.97      0.83      0.89        86
        SAXX       1.00      0.65      0.79        75
        SCCP       0.85      0.82      0.84        28
        SSSO       0.96      0.93      0.95        59
        SYAS       0.88      0.71      0.79        21
        SYGR       0.00      0.00      0.00         7
        SYIM       0.89      0.92      0.91       100
        SYIN       0.81      0.92      0.86        24
        SYXX       0.33      0.05      0.09        19
        TEAU       0.91      0.80      0.85       521
        TEEM       1.00      0.65      0.79        23
        TEMT       0.88      0.57      0.69       197
        TEXX       1.00      0.94      0.97       253
        TOCO       0.96      0.99      0.97       842
        TOFC       0.68      0.87      0.76       205
        TOHR       0.00      0.00      0.00         1
        TOMR       1.00      0.12      0.21        17
        TOPO       1.00      0.92      0.96       100
        TOSI       1.00      0.99      1.00       106
        TRPR       0.78      0.58      0.67        12
        TRTN       1.00      0.17      0.29         6
        TTXX       0.91      0.84      0.87        25
        TWXX       0.96      0.96      0.96        93
        UEXX       0.60      0.53      0.56        34
        VATR       0.00      0.00      0.00         1

    accuracy                           0.87     22028
   macro avg       0.76      0.68      0.70     22028
weighted avg       0.87      0.87      0.86     22028

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [50]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)

X_unseen = hstack(X_test_unseen)

In [51]:
y_test_pred = model.predict (X_unseen)

In [52]:
pd.DataFrame(y_test_pred).to_csv('maps_gcc')

In [53]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.5234042553191489

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.86      0.84      0.85       141
        AAMD       1.00      0.95      0.97        92
        AAML       0.95      0.87      0.91       108
        AFAD       0.81      0.54      0.65        24
        AFFE       0.88      0.70      0.78        30
        AFSE       0.25      0.33      0.29         6
        AFXX       0.91      0.76      0.83        41
        ARRP       1.00      0.75      0.86         4
        ARSY       0.00      0.00      0.00         1
        ARXX       0.94      0.89      0.91       366
        ASCD       1.00      0.18      0.30        17
        ASDB       0.80      0.86      0.83        73
        ASEC       0.00      0.00      0.00         1
        ASFS       0.24      0.99      0.39        77
        ASMD       0.00      0.00      0.00         3
        ASPI       0.78      0.64      0.70       103
        ASRP       0.14      0.02      0.04        42
        ASSI       0.33      0.33      0.33         3
        ASUI       0.95      0.72      0.82        29
        ASWD       1.00      1.00      1.00       103
        ASXX       0.86      0.78      0.82      1925
        BCPM       0.60      0.60      0.60         5
        BFAC       1.00      1.00      1.00        18
        BFCA       1.00      0.72      0.84        18
        BFCB       1.00      1.00      1.00        26
        BFCM       1.00      1.00      1.00         6
        BFIR       1.00      1.00      1.00        61
        BFKY       1.00      0.92      0.96        13
        BFTF       1.00      0.75      0.86         4
        BFTO       0.00      0.00      0.00         3
        BFUW       1.00      1.00      1.00        40
        BFWB       1.00      1.00      1.00        14
        BSMT       1.00      0.42      0.59        12
        CCCE       1.00      1.00      1.00        37
        CCCO       1.00      1.00      1.00         2
        CCCV       0.98      0.99      0.98       544
        CCMD       0.98      0.99      0.99       470
        CMDO       1.00      0.44      0.62        36
        CMXX       1.00      0.89      0.94        28
        CSAN       0.80      1.00      0.89        12
        CSBC       0.85      0.96      0.90       368
        CSCG       1.00      0.75      0.86        24
        CSCS       0.85      0.93      0.89        44
        CSED       0.00      0.00      0.00         1
        CSEL       0.67      0.50      0.57         4
        CSFC       0.83      0.77      0.80       310
        CSSI       0.93      0.83      0.87       180
        DABD       0.87      0.74      0.80        92
        DABI       0.70      0.46      0.56        56
        DADV       1.00      0.44      0.62         9
        DADW       0.00      0.00      0.00        11
        DMKM       0.00      0.00      0.00         3
        DMMD       0.00      0.00      0.00         1
        DMSM       1.00      1.00      1.00         5
        EDCA       1.00      0.91      0.95        85
        EDEE       0.99      0.95      0.97       682
        EDME       1.00      0.99      1.00       167
        EDXX       0.90      0.93      0.91        68
        FAAG       0.65      0.83      0.73       121
        FAAP       1.00      0.98      0.99       164
        FAER       1.00      0.80      0.89         5
        FAFA       0.74      0.85      0.79       187
        FAFI       1.00      1.00      1.00        30
        FALC       0.00      0.00      0.00         3
        FAML       1.00      0.95      0.97        19
        FLAC       0.90      0.60      0.72        45
        FLFA       0.50      1.00      0.67         4
        FLLE       0.97      0.99      0.98        78
        FLMI       0.00      0.00      0.00         2
        FLPP       0.98      0.95      0.97       118
        FLPR       0.68      0.98      0.81        59
        FLTR       1.00      0.67      0.80         6
        FLTX       1.00      0.65      0.79        17
        FLXX       0.83      0.63      0.72       271
        GDXX       0.92      0.81      0.86        27
        HCMC       1.00      1.00      1.00         1
        HCMR       0.98      1.00      0.99        48
        HCRM       1.00      0.74      0.85        34
        HRBP       0.71      0.80      0.75        99
        HRCB       1.00      0.89      0.94        19
        HROD       0.00      0.00      0.00         4
        HRRE       0.81      0.83      0.82       138
        HRRM       0.00      0.00      0.00         1
        HRSS       0.80      0.22      0.35        36
        HRTR       0.89      0.42      0.57        19
        HRXX       0.80      0.68      0.73        53
        HSGL       0.82      0.82      0.82        11
        INAU       0.78      0.39      0.52        18
        INCL       0.00      0.00      0.00        37
        INDB       0.79      0.67      0.73        49
        INDC       1.00      0.85      0.92        13
        INDS       0.91      0.80      0.85       141
        INFS       1.00      0.96      0.98        72
        INNE       0.86      0.70      0.77       113
        INRA       0.98      0.97      0.97       403
        INRE       0.84      0.64      0.73        25
        INRI       1.00      1.00      1.00         7
        INRP       0.00      0.00      0.00         1
        INSA       0.94      1.00      0.97        34
        INSS       0.47      0.42      0.44        19
        INXX       0.75      0.77      0.76       280
        ITAU       0.32      0.86      0.47        28
        LECM       0.96      1.00      0.98        22
        LECO       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        21
        LERE       0.00      0.00      0.00         1
        MBCC       1.00      0.79      0.88        14
        MBCM       0.72      0.58      0.64        50
        MBDM       0.69      0.33      0.45        33
        MBGM       0.00      0.00      0.00         7
        MBSE       1.00      1.00      1.00         3
        MBXX       0.64      0.89      0.74       116
        PDFD       0.94      0.73      0.82      1100
        PDFS       0.85      0.73      0.79        56
        PDHD       0.72      0.96      0.82      1092
        PDLE       0.99      0.97      0.98       675
        PDMD       0.67      0.14      0.24        14
        PDPM       0.85      0.81      0.83       338
        PDUI       0.78      0.30      0.43       103
        PDXX       0.86      0.96      0.91      3849
        PRAG       0.00      0.00      0.00        17
        PRPO       0.91      0.92      0.92       420
        PRXX       0.85      0.86      0.85       350
        QAXX       0.78      0.70      0.74        73
        QUTF       0.76      0.74      0.75        47
        QUTS       1.00      1.00      1.00        66
        RABA       0.95      0.85      0.90        66
        RABF       1.00      0.99      0.99        83
        RAPR       1.00      0.71      0.83        24
        RASR       1.00      0.90      0.95        10
        RICR       1.00      1.00      1.00         4
        RIOR       1.00      0.67      0.80         3
        RSMO       1.00      1.00      1.00        11
        RSSC       1.00      0.61      0.76        28
        RSSD       0.14      0.09      0.11        23
        RSVM       0.67      0.67      0.67         3
        RSWL       0.79      0.86      0.82       133
        SAAC       0.77      0.91      0.83       188
        SABD       0.83      0.75      0.79       221
        SACH       0.82      0.90      0.86        71
        SACS       0.98      0.94      0.96       101
        SAIN       0.78      0.90      0.84       104
        SAPS       0.91      0.88      0.89       125
        SASD       0.97      0.83      0.89        86
        SAXX       1.00      0.65      0.79        75
        SCCP       0.85      0.82      0.84        28
        SSSO       0.96      0.93      0.95        59
        SYAS       0.88      0.71      0.79        21
        SYGR       0.00      0.00      0.00         7
        SYIM       0.89      0.92      0.91       100
        SYIN       0.81      0.92      0.86        24
        SYXX       0.33      0.05      0.09        19
        TEAU       0.91      0.80      0.85       521
        TEEM       1.00      0.65      0.79        23
        TEMT       0.88      0.57      0.69       197
        TEXX       1.00      0.94      0.97       253
        TOCO       0.96      0.99      0.97       842
        TOFC       0.68      0.87      0.76       205
        TOHR       0.00      0.00      0.00         1
        TOMR       1.00      0.12      0.21        17
        TOPO       1.00      0.92      0.96       100
        TOSI       1.00      0.99      1.00       106
        TRPR       0.78      0.58      0.67        12
        TRTN       1.00      0.17      0.29         6
        TTXX       0.91      0.84      0.87        25
        TWXX       0.96      0.96      0.96        93
        UEXX       0.60      0.53      0.56        34
        VATR       0.00      0.00      0.00         1

    accuracy                           0.87     22028
   macro avg       0.76      0.68      0.70     22028
weighted avg       0.87      0.87      0.86     22028

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [54]:
df_test

,Co. Designation,Co. Function,Job Family Code
0,Director - Data Sciences,Data Sciences,AADS
1,Director - Data Sciences,Data Sciences,AADS
2,Director - Strategic Sales and Market Research,Platform Specialist,ASXX
3,Director - Performance Sales- Europe,Inside Sales,SAPS
4,Global Controller - Finance,Finance,FAAG
...,...,...,...
700,SDE II,Technology,PDXX
701,SDE I,Technology,PDXX
702,SDE II,Technology,PDXX
703,SDE II,Technology,PDXX
704,SDE I,Technology,PDXX