<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v2_prodsim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('trainsim_prod.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Springboard Hi Tech & ITES 2022,Senior Software Engineer,Tech Role,PDXX
1,Springboard Hi Tech & ITES 2022,Lead Software Engineer,Tech Role,PDXX
2,Springboard Hi Tech & ITES 2022,Platform Engineer,Not relevant,PDXX
3,Springboard Hi Tech & ITES 2022,Product Specialist,IN-Other Roles,PDPM
4,Springboard Hi Tech & ITES 2022,"Program Manager,Employee Effectiveness",People Ops,PRPO

In [31]:
df_test = pd.read_csv('test_prod.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Intel,SoC Design Engineer,Engineering,PDLE
1,Intel,Comp Benefits Specialist,Human Resources,HRCB
2,Intel,System Validation Engineer,Engineering,EDEE
3,Intel,Research Scientist,Research & Development,EDXX
4,Intel,Graphics Software Engineer,Engineering,PDXX

In [32]:
df.shape
set(df['Company Name'])

{'24-7 AI Hi Tech & ITES 2022',
 '3 Pillar Global Hi Tech & ITES 2022',
 '75F Hi Tech & ITES 2022',
 'ARM',
 'Adobe Systems',
 'Aerospike',
 'Agoda Services',
 'Airbnb',
 'Akamai Technologies',
 'Alibaba Group Inc',
 'Amadeus Hi Tech & ITES 2022',
 'Amazon (Radford)',
 'American Express',
 'Analog Devices',
 'Antworks Hi Tech & ITES 2022',
 'Applied Materials',
 'ArisGlobal Software Pvt Ltd',
 'Atkins Hi Tech & ITES 2022',
 'Atlassian',
 'Avaya',
 'Broadcom',
 'Browser Hi Tech & ITES 2022',
 'Cadence Hi Tech & ITES 2022',
 'Cimpress',
 'Cisco Systems',
 'Citrix Systems',
 'Cloudera',
 'CoinDCX Hi Tech & ITES 2022',
 'Coursera',
 'Data Weave Hi Tech & ITES 2022',
 'Dealshare Non Tech Hi Tech & ITES 2022',
 'Dealshare Tech Hi Tech & ITES 2022',
 'Dell',
 'Denali AI India Pvt. Ltd.',
 'Duck Creek Hi Tech & ITES 2022',
 'EcomExpress Hi Tech & ITES 2022',
 'Ephicacy Lifescience Analytics Pvt Ltd ',
 'Esri',
 'Expedia',
 'F5, Inc',
 'Factset Hi Tech & ITES 2022',
 'FalconX Tech & ITES 2022',
 'Finastra',
 'Flipkart',
 'Furlenco Hi Tech & ITES 2022',
 'GEP Hi Tech & ITES 2022',
 'Games 24x7 - India',
 'Go-Jek',
 'Grey Orange Hi Tech & ITES 2022',
 'Groupon',
 'HP Hi Tech & ITES 2022',
 'Harman India Hi Tech & ITES 2022',
 'HealthifyMe Hi Tech & ITES 2022',
 'Honeywell International',
 'IQVIA',
 'Infineon Technologies',
 'Instawork Hi Tech & ITES 2022',
 'Jocata Hi Tech & ITES 2022',
 'Juniper Networks',
 'L&T EduTech Hi Tech & ITES 2022',
 'L&T Smartworld Hi Tech & ITES 2022',
 'Lam Research',
 'LinkedIn Corporation',
 'Lockheed Martin',
 'Mastercard Worldwide',
 'Maxlinear',
 'McAfee',
 'Mediatek',
 'Mentor Graphics Hi Tech & ITES 2022',
 'Meta',
 'Microchip Technology',
 'Microsoft',
 'MongoDB',
 'Motorola Hi Tech & ITES 2022',
 'NXP  Semiconductors Hi Tech & ITES 2022',
 'NetApp',
 'Netradyne Hi Tech & ITES 2022',
 'Nutanix',
 'On Semiconductor Hi Tech & ITES 2022',
 'Onmobile Hi Tech & ITES 2022',
 'Open Text Corporation',
 'Oracle',
 'Paypal',
 'Pegasystems',
 'Pharmeasy Hi Tech & ITES 2022',
 'Pine Labs - India',
 'Qualcomm Hi Tech & ITES 2022',
 'Rakuten',
 'Rambus Hi Tech & ITES 2022',
 'Red Hat',
 'Reliance BP - India',
 'SAS Institute',
 'ST Micro Hi Tech & ITES 2022',
 'Saks Hi Tech & ITES 2022',
 'Salesforce Dummy',
 'Samsung Delhi Hi Tech & ITES 2022',
 'Schlumberger Hi Tech & ITES 2022',
 'ServiceNow',
 'Setu Hi Tech & ITES 2022',
 'Sopra Banking Hi Tech & ITES 2022',
 'Springboard Hi Tech & ITES 2022',
 'Tata Health Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Texas Instruments Hi Tech & ITES 2022',
 'Twitter',
 'Uber Technologies',
 'Ubisoft EMEA',
 'UiPath',
 'Upgrad Hi Tech & ITES 2022',
 'Visa U.S.A. Inc',
 'WNS Global Services Hi Tech & ITES 2022',
 'WhitehatJr Hi Tech & ITES 2022',
 'Wingify Hi Tech & ITES 2022',
 'Zendesk',
 'Zeomega Hi Tech & ITES 2022',
 'Zynga Inc',
 'eBay'}

In [33]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [34]:
train_cols = ['Co. Designation', 'Co. Function']

In [35]:
target_col = 'Job Family Code'

In [36]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [37]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [38]:
# Load data
data = pd.read_csv('trainsim_prod.csv')

In [39]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Intel,SoC Design Engineer,Engineering,PDLE
1,Intel,Comp Benefits Specialist,Human Resources,HRCB
2,Intel,System Validation Engineer,Engineering,EDEE
3,Intel,Research Scientist,Research & Development,EDXX
4,Intel,Graphics Software Engineer,Engineering,PDXX

In [40]:
data = data[all_cols]
data = data.dropna()

In [41]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [42]:
data.head()

                          Co. Designation    Co. Function Job Family Code
0                Senior Software Engineer       Tech Role            PDXX
1                  Lead Software Engineer       Tech Role            PDXX
2                       Platform Engineer   Not relevant             PDXX
3                      Product Specialist  IN-Other Roles            PDPM
4  Program Manager,Employee Effectiveness      People Ops            PRPO

In [43]:
df_test.head()

              Co. Designation            Co. Function Job Family Code
0         SoC Design Engineer             Engineering            PDLE
1   Comp  Benefits Specialist         Human Resources            HRCB
2  System Validation Engineer             Engineering            EDEE
3          Research Scientist  Research & Development            EDXX
4  Graphics Software Engineer             Engineering            PDXX

In [44]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [45]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [47]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.897716604344021

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.91      0.84      0.87       331
        AAMD       0.98      0.90      0.94       222
        AAML       0.93      0.91      0.92       118
        AFAD       0.75      0.71      0.73        55
        AFFE       0.79      0.84      0.81       113
        AFSE       0.80      0.55      0.65        22
        AFXX       0.90      0.68      0.77        68
        ARCD       1.00      1.00      1.00         2
        ARRP       1.00      0.33      0.50         9
        ARSY       0.00      0.00      0.00         1
        ARXX       0.89      0.84      0.86       529
        ASCD       0.67      0.09      0.15        23
        ASDB       0.98      0.59      0.73        75
        ASEC       1.00      0.71      0.83        14
        ASFS       0.25      0.93      0.39        81
        ASMD       0.00      0.00      0.00        16
        ASPI       0.82      0.67      0.74       153
        ASRP       0.96      0.92      0.94        50
        ASSI       0.00      0.00      0.00         2
        ASUI       0.79      0.40      0.53        55
        ASWD       1.00      0.96      0.98       114
        ASXX       0.86      0.79      0.83      4667
        BCPM       0.81      0.94      0.87        18
        BFAC       1.00      1.00      1.00        92
        BFCA       0.83      0.94      0.88        36
        BFCB       1.00      1.00      1.00        77
        BFCM       1.00      1.00      1.00        23
        BFIR       1.00      1.00      1.00       248
        BFKY       1.00      1.00      1.00        18
        BFTF       0.95      1.00      0.98        20
        BFTO       0.00      0.00      0.00         1
        BFUW       1.00      1.00      1.00       133
        BFWB       1.00      1.00      1.00        47
        BSMT       0.90      0.84      0.87       155
        CCCE       1.00      1.00      1.00       180
        CCCO       1.00      0.85      0.92        13
        CCCV       0.99      0.99      0.99      1231
        CCID       0.00      0.00      0.00         4
        CCMD       0.98      0.99      0.98      1899
        CMDO       0.81      0.33      0.47        67
        CMXX       0.95      0.82      0.88        73
        CSAN       1.00      0.93      0.96        14
        CSBC       0.92      0.76      0.83       673
        CSCG       0.95      0.92      0.93       239
        CSCS       0.86      0.96      0.91       140
        CSED       1.00      1.00      1.00        16
        CSEL       0.00      0.00      0.00         7
        CSFC       0.87      0.91      0.89      1906
        CSSI       0.92      0.95      0.93       903
        DABD       0.85      0.89      0.87       223
        DABI       0.51      0.57      0.54       112
        DADV       0.98      0.84      0.91        57
        DADW       0.00      0.00      0.00        19
        DMMD       0.00      0.00      0.00         4
        DMSM       1.00      1.00      1.00        22
        EDCA       0.96      0.95      0.96       115
        EDEE       0.99      0.95      0.97       726
        EDFE       0.00      0.00      0.00         4
        EDME       0.98      0.93      0.95       215
        EDXX       0.96      0.87      0.91       106
        FAAG       0.83      0.92      0.87       311
        FAAP       1.00      1.00      1.00       475
        FAER       0.60      0.55      0.57        11
        FAFA       0.79      0.89      0.84       374
        FAFI       1.00      1.00      1.00       427
        FALC       0.73      0.73      0.73        45
        FAML       1.00      1.00      1.00        90
        FLAC       0.98      0.75      0.85       250
        FLCS       0.00      0.00      0.00         1
        FLFA       0.54      0.48      0.51        29
        FLLE       0.98      0.99      0.98       342
        FLMI       0.00      0.00      0.00         1
        FLPP       0.95      0.94      0.95       246
        FLPR       0.74      0.91      0.81       110
        FLTR       0.90      0.64      0.75        14
        FLTX       1.00      0.91      0.95        68
        FLXX       0.86      0.85      0.85       843
        GDXX       0.98      0.88      0.92       105
        HCMC       1.00      1.00      1.00        26
        HCMR       1.00      0.97      0.98        33
        HCRM       0.99      0.98      0.99       199
        HRBP       0.86      0.91      0.88       340
        HRCB       1.00      0.83      0.91        36
        HRDI       0.00      0.00      0.00         2
        HRGM       0.74      0.93      0.82        15
        HROD       1.00      0.33      0.50        12
        HRRE       0.93      0.92      0.92       326
        HRRM       0.92      0.75      0.83        16
        HRSS       0.95      0.73      0.82       102
        HRTR       0.90      0.73      0.80        51
        HRXX       0.81      0.61      0.70        77
        HSGL       0.64      1.00      0.78        14
        INAU       0.92      0.89      0.91        92
        INCL       1.00      0.15      0.26        34
        INDB       0.94      0.86      0.90       140
        INDC       0.93      0.62      0.74        21
        INDS       0.91      0.90      0.91       226
        INFE       0.00      0.00      0.00         3
        INFS       0.99      0.97      0.98       435
        INNE       0.94      0.87      0.90       292
        INRA       0.99      0.99      0.99      2370
        INRE       0.95      0.97      0.96       182
        INRI       1.00      0.83      0.91         6
        INSA       0.94      0.89      0.91        36
        INSS       0.74      0.74      0.74        34
        INTI       1.00      0.43      0.60         7
        INXX       0.85      0.84      0.84       527
        IPXX       0.00      0.00      0.00         1
        ITAU       0.50      0.46      0.48        37
        LECM       0.97      0.94      0.95        32
        LECO       0.96      0.94      0.95        54
        LEIP       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        19
        LERE       0.00      0.00      0.00         1
        MBCC       1.00      0.54      0.70        26
        MBCM       0.81      0.72      0.76       153
        MBCT       0.75      0.50      0.60        12
        MBDM       0.77      0.55      0.64       101
        MBGM       0.00      0.00      0.00         2
        MBSE       1.00      0.38      0.55         8
        MBXX       0.84      0.94      0.89       441
        PDFD       0.66      0.94      0.77      2223
        PDFS       0.68      0.43      0.52        54
        PDHD       0.89      0.52      0.66      2248
        PDLE       0.94      0.96      0.95       838
        PDMD       0.83      0.45      0.59        11
        PDPM       0.90      0.90      0.90       692
        PDUI       0.72      0.65      0.68       128
        PDXX       0.91      0.97      0.94     12295
        PRAG       0.38      0.24      0.29        96
        PRPO       0.89      0.89      0.89      1139
        PRXX       0.89      0.90      0.89       944
        QAXX       0.84      0.65      0.73       136
        QUTF       0.89      0.97      0.93       404
        QUTS       0.99      1.00      1.00       192
        RABA       0.96      0.95      0.96       465
        RABF       1.00      1.00      1.00       143
        RAPR       0.89      0.81      0.85        73
        RASR       0.99      0.99      0.99       381
        RICR       1.00      0.40      0.57        10
        RIOR       1.00      0.97      0.98        29
        RSMO       1.00      0.89      0.94         9
        RSSC       0.77      0.82      0.79        49
        RSSD       0.18      0.47      0.26        19
        RSVM       0.87      0.23      0.37        56
        RSWL       0.88      0.95      0.92       482
        SAAC       0.85      0.90      0.88       515
        SABD       0.78      0.87      0.82       629
        SACH       0.85      0.71      0.78       226
        SACS       0.88      0.88      0.88       142
        SAIN       0.90      0.98      0.94       912
        SAPS       0.96      0.82      0.89       664
        SASD       0.94      0.93      0.94       542
        SAXX       0.84      0.51      0.64       220
        SCCP       0.97      0.83      0.90       169
        SSSO       0.93      0.83      0.88        77
        SYAS       0.92      0.68      0.78        34
        SYGR       1.00      0.20      0.33         5
        SYIM       0.83      0.93      0.88       137
        SYIN       0.46      0.60      0.52        10
        SYPT       0.00      0.00      0.00         5
        SYXX       0.85      0.44      0.58        75
        TEAU       0.93      0.93      0.93      2177
        TEEM       0.70      0.85      0.77       162
        TEMT       1.00      0.07      0.12        30
        TEXX       0.97      0.93      0.95      2088
        TOCO       0.98      1.00      0.99      2496
        TOFC       0.68      0.87      0.76       159
        TOFS       0.00      0.00      0.00         4
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.29      0.44        21
        TOPO       0.99      0.94      0.96       102
        TOSI       1.00      1.00      1.00       717
        TRPR       1.00      0.84      0.91        49
        TRTN       1.00      0.71      0.83        14
        TTXX       0.90      0.89      0.90        74
        TWXX       0.89      0.78      0.83       376
        UEXX       0.61      0.43      0.51        53
        VATR       1.00      1.00      1.00         3

    accuracy                           0.90     62845
   macro avg       0.79      0.71      0.73     62845
weighted avg       0.90      0.90      0.90     62845

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [48]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)
    
X_unseen = hstack(X_test_unseen)

In [49]:
y_test_pred = model.predict (X_unseen)

In [53]:
pd.DataFrame(y_test_pred).to_csv('maps_prodsim.csv')

In [51]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.9809060277049794

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.91      0.84      0.87       331
        AAMD       0.98      0.90      0.94       222
        AAML       0.93      0.91      0.92       118
        AFAD       0.75      0.71      0.73        55
        AFFE       0.79      0.84      0.81       113
        AFSE       0.80      0.55      0.65        22
        AFXX       0.90      0.68      0.77        68
        ARCD       1.00      1.00      1.00         2
        ARRP       1.00      0.33      0.50         9
        ARSY       0.00      0.00      0.00         1
        ARXX       0.89      0.84      0.86       529
        ASCD       0.67      0.09      0.15        23
        ASDB       0.98      0.59      0.73        75
        ASEC       1.00      0.71      0.83        14
        ASFS       0.25      0.93      0.39        81
        ASMD       0.00      0.00      0.00        16
        ASPI       0.82      0.67      0.74       153
        ASRP       0.96      0.92      0.94        50
        ASSI       0.00      0.00      0.00         2
        ASUI       0.79      0.40      0.53        55
        ASWD       1.00      0.96      0.98       114
        ASXX       0.86      0.79      0.83      4667
        BCPM       0.81      0.94      0.87        18
        BFAC       1.00      1.00      1.00        92
        BFCA       0.83      0.94      0.88        36
        BFCB       1.00      1.00      1.00        77
        BFCM       1.00      1.00      1.00        23
        BFIR       1.00      1.00      1.00       248
        BFKY       1.00      1.00      1.00        18
        BFTF       0.95      1.00      0.98        20
        BFTO       0.00      0.00      0.00         1
        BFUW       1.00      1.00      1.00       133
        BFWB       1.00      1.00      1.00        47
        BSMT       0.90      0.84      0.87       155
        CCCE       1.00      1.00      1.00       180
        CCCO       1.00      0.85      0.92        13
        CCCV       0.99      0.99      0.99      1231
        CCID       0.00      0.00      0.00         4
        CCMD       0.98      0.99      0.98      1899
        CMDO       0.81      0.33      0.47        67
        CMXX       0.95      0.82      0.88        73
        CSAN       1.00      0.93      0.96        14
        CSBC       0.92      0.76      0.83       673
        CSCG       0.95      0.92      0.93       239
        CSCS       0.86      0.96      0.91       140
        CSED       1.00      1.00      1.00        16
        CSEL       0.00      0.00      0.00         7
        CSFC       0.87      0.91      0.89      1906
        CSSI       0.92      0.95      0.93       903
        DABD       0.85      0.89      0.87       223
        DABI       0.51      0.57      0.54       112
        DADV       0.98      0.84      0.91        57
        DADW       0.00      0.00      0.00        19
        DMMD       0.00      0.00      0.00         4
        DMSM       1.00      1.00      1.00        22
        EDCA       0.96      0.95      0.96       115
        EDEE       0.99      0.95      0.97       726
        EDFE       0.00      0.00      0.00         4
        EDME       0.98      0.93      0.95       215
        EDXX       0.96      0.87      0.91       106
        FAAG       0.83      0.92      0.87       311
        FAAP       1.00      1.00      1.00       475
        FAER       0.60      0.55      0.57        11
        FAFA       0.79      0.89      0.84       374
        FAFI       1.00      1.00      1.00       427
        FALC       0.73      0.73      0.73        45
        FAML       1.00      1.00      1.00        90
        FLAC       0.98      0.75      0.85       250
        FLCS       0.00      0.00      0.00         1
        FLFA       0.54      0.48      0.51        29
        FLLE       0.98      0.99      0.98       342
        FLMI       0.00      0.00      0.00         1
        FLPP       0.95      0.94      0.95       246
        FLPR       0.74      0.91      0.81       110
        FLTR       0.90      0.64      0.75        14
        FLTX       1.00      0.91      0.95        68
        FLXX       0.86      0.85      0.85       843
        GDXX       0.98      0.88      0.92       105
        HCMC       1.00      1.00      1.00        26
        HCMR       1.00      0.97      0.98        33
        HCRM       0.99      0.98      0.99       199
        HRBP       0.86      0.91      0.88       340
        HRCB       1.00      0.83      0.91        36
        HRDI       0.00      0.00      0.00         2
        HRGM       0.74      0.93      0.82        15
        HROD       1.00      0.33      0.50        12
        HRRE       0.93      0.92      0.92       326
        HRRM       0.92      0.75      0.83        16
        HRSS       0.95      0.73      0.82       102
        HRTR       0.90      0.73      0.80        51
        HRXX       0.81      0.61      0.70        77
        HSGL       0.64      1.00      0.78        14
        INAU       0.92      0.89      0.91        92
        INCL       1.00      0.15      0.26        34
        INDB       0.94      0.86      0.90       140
        INDC       0.93      0.62      0.74        21
        INDS       0.91      0.90      0.91       226
        INFE       0.00      0.00      0.00         3
        INFS       0.99      0.97      0.98       435
        INNE       0.94      0.87      0.90       292
        INRA       0.99      0.99      0.99      2370
        INRE       0.95      0.97      0.96       182
        INRI       1.00      0.83      0.91         6
        INSA       0.94      0.89      0.91        36
        INSS       0.74      0.74      0.74        34
        INTI       1.00      0.43      0.60         7
        INXX       0.85      0.84      0.84       527
        IPXX       0.00      0.00      0.00         1
        ITAU       0.50      0.46      0.48        37
        LECM       0.97      0.94      0.95        32
        LECO       0.96      0.94      0.95        54
        LEIP       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        19
        LERE       0.00      0.00      0.00         1
        MBCC       1.00      0.54      0.70        26
        MBCM       0.81      0.72      0.76       153
        MBCT       0.75      0.50      0.60        12
        MBDM       0.77      0.55      0.64       101
        MBGM       0.00      0.00      0.00         2
        MBSE       1.00      0.38      0.55         8
        MBXX       0.84      0.94      0.89       441
        PDFD       0.66      0.94      0.77      2223
        PDFS       0.68      0.43      0.52        54
        PDHD       0.89      0.52      0.66      2248
        PDLE       0.94      0.96      0.95       838
        PDMD       0.83      0.45      0.59        11
        PDPM       0.90      0.90      0.90       692
        PDUI       0.72      0.65      0.68       128
        PDXX       0.91      0.97      0.94     12295
        PRAG       0.38      0.24      0.29        96
        PRPO       0.89      0.89      0.89      1139
        PRXX       0.89      0.90      0.89       944
        QAXX       0.84      0.65      0.73       136
        QUTF       0.89      0.97      0.93       404
        QUTS       0.99      1.00      1.00       192
        RABA       0.96      0.95      0.96       465
        RABF       1.00      1.00      1.00       143
        RAPR       0.89      0.81      0.85        73
        RASR       0.99      0.99      0.99       381
        RICR       1.00      0.40      0.57        10
        RIOR       1.00      0.97      0.98        29
        RSMO       1.00      0.89      0.94         9
        RSSC       0.77      0.82      0.79        49
        RSSD       0.18      0.47      0.26        19
        RSVM       0.87      0.23      0.37        56
        RSWL       0.88      0.95      0.92       482
        SAAC       0.85      0.90      0.88       515
        SABD       0.78      0.87      0.82       629
        SACH       0.85      0.71      0.78       226
        SACS       0.88      0.88      0.88       142
        SAIN       0.90      0.98      0.94       912
        SAPS       0.96      0.82      0.89       664
        SASD       0.94      0.93      0.94       542
        SAXX       0.84      0.51      0.64       220
        SCCP       0.97      0.83      0.90       169
        SSSO       0.93      0.83      0.88        77
        SYAS       0.92      0.68      0.78        34
        SYGR       1.00      0.20      0.33         5
        SYIM       0.83      0.93      0.88       137
        SYIN       0.46      0.60      0.52        10
        SYPT       0.00      0.00      0.00         5
        SYXX       0.85      0.44      0.58        75
        TEAU       0.93      0.93      0.93      2177
        TEEM       0.70      0.85      0.77       162
        TEMT       1.00      0.07      0.12        30
        TEXX       0.97      0.93      0.95      2088
        TOCO       0.98      1.00      0.99      2496
        TOFC       0.68      0.87      0.76       159
        TOFS       0.00      0.00      0.00         4
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.29      0.44        21
        TOPO       0.99      0.94      0.96       102
        TOSI       1.00      1.00      1.00       717
        TRPR       1.00      0.84      0.91        49
        TRTN       1.00      0.71      0.83        14
        TTXX       0.90      0.89      0.90        74
        TWXX       0.89      0.78      0.83       376
        UEXX       0.61      0.43      0.51        53
        VATR       1.00      1.00      1.00         3

    accuracy                           0.90     62845
   macro avg       0.79      0.71      0.73     62845
weighted avg       0.90      0.90      0.90     62845

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [52]:
df_test

                     Co. Designation            Co. Function Job Family Code
0                SoC Design Engineer             Engineering            PDLE
1          Comp  Benefits Specialist         Human Resources            HRCB
2         System Validation Engineer             Engineering            EDEE
3                 Research Scientist  Research & Development            EDXX
4         Graphics Software Engineer             Engineering            PDXX
...                              ...                     ...             ...
10679             Principal Engineer             Engineering            PDXX
10680             Principal Engineer             Engineering            PDXX
10681  Silicon Architecture Engineer             Engineering            ARXX
10682      Senior Principal Engineer             Engineering            PDXX
10683      Senior Principal Engineer             Engineering            PDXX

[10684 rows x 3 columns]