<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v2_prod2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('train_prod2.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Springboard Hi Tech & ITES 2022,Senior Software Engineer,Tech Role,PDXX
1,Springboard Hi Tech & ITES 2022,Lead Software Engineer,Tech Role,PDXX
2,Springboard Hi Tech & ITES 2022,Platform Engineer,Not relevant,PDXX
3,Springboard Hi Tech & ITES 2022,Product Specialist,IN-Other Roles,PDPM
4,Springboard Hi Tech & ITES 2022,"Program Manager,Employee Effectiveness",People Ops,PRPO

In [58]:
df_test = pd.read_csv('test_prod2.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Adobe Systems,Software Development Engineer,Engineering,PDXX
2,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Adobe Systems,Software Quality Engineer,Engineering,TEAU
4,Adobe Systems,Database Engineer,Information Technology,ASDB

In [59]:
df.shape
set(df['Company Name'])

{'24-7 AI Hi Tech & ITES 2022',
 '3 Pillar Global Hi Tech & ITES 2022',
 '75F Hi Tech & ITES 2022',
 'ARM',
 'Aerospike',
 'Agoda Services',
 'Airbnb',
 'Akamai Technologies',
 'Alibaba Group Inc',
 'Amadeus Hi Tech & ITES 2022',
 'Amagi Media Labs Pvt Ltd',
 'Amazon (Radford)',
 'American Express',
 'Analog Devices',
 'Antworks Hi Tech & ITES 2022',
 'Applied Materials',
 'ArisGlobal Software Pvt Ltd',
 'Aristocrat Technologies India Pvt Ltd',
 'Atkins Hi Tech & ITES 2022',
 'Atlassian',
 'Avaya',
 'Broadcom',
 'Browser Hi Tech & ITES 2022',
 'Byjus',
 'Cadence Hi Tech & ITES 2022',
 'Cimpress',
 'Cisco Systems',
 'Citrix Systems',
 'Cloudera',
 'Coforge NIIT',
 'CoinDCX Hi Tech & ITES 2022',
 'Coursera',
 'CredAvenue',
 'Data Weave Hi Tech & ITES 2022',
 'Dealshare Non Tech Hi Tech & ITES 2022',
 'Dealshare Tech Hi Tech & ITES 2022',
 'Dell',
 'Deluxe Entertainment Distribution India Private Limited',
 'Denali AI India Pvt. Ltd.',
 'Duck Creek Hi Tech & ITES 2022',
 'EcomExpress Hi Tech & ITES 2022',
 'Ephicacy Lifescience Analytics Pvt Ltd ',
 'Ericsson',
 'Esri',
 'Expedia',
 'F5, Inc',
 'Factset Hi Tech & ITES 2022',
 'FalconX Tech & ITES 2022',
 'Finastra',
 'Flipkart',
 'Freight Tiger',
 'Furlenco Hi Tech & ITES 2022',
 'GEP Hi Tech & ITES 2022',
 'Games 24x7 - India',
 'Go-Jek',
 'Grey Orange Hi Tech & ITES 2022',
 'Groupon',
 'HP Hi Tech & ITES 2022',
 'Harman India Hi Tech & ITES 2022',
 'HealthifyMe Hi Tech & ITES 2022',
 'Honeywell International',
 'IQVIA',
 'ITILITE',
 'Infineon Technologies',
 'Infor India PVt Ltd',
 'Inmobi',
 'Instawork Hi Tech & ITES 2022',
 'Intel',
 'Interview Kickstart',
 'Jocata Hi Tech & ITES 2022',
 'Juniper Networks',
 'L&T EduTech Hi Tech & ITES 2022',
 'L&T Smartworld Hi Tech & ITES 2022',
 'Lam Research',
 'LinkedIn Corporation',
 'Lockheed Martin',
 'Mastercard Worldwide',
 'Maxlinear',
 'McAfee',
 'Mediatek',
 'Mentor Graphics Hi Tech & ITES 2022',
 'Meta',
 'MetircStream Infotech India Pvt Limited',
 'Microchip Technology',
 'Microsoft',
 'MongoDB',
 'Motorola Hi Tech & ITES 2022',
 'NXP  Semiconductors Hi Tech & ITES 2022',
 'NetApp',
 'Netradyne Hi Tech & ITES 2022',
 'Nutanix',
 'On Semiconductor Hi Tech & ITES 2022',
 'Onmobile Hi Tech & ITES 2022',
 'Open Text Corporation',
 'Oracle',
 'Paypal',
 'Pegasystems',
 'Pharmeasy Hi Tech & ITES 2022',
 'Pine Labs - India',
 'Qualcomm Hi Tech & ITES 2022',
 'ROHM SEMICONDUCTOR INDIA PVT LTD',
 'Rakuten',
 'Rambus Hi Tech & ITES 2022',
 'Red Hat',
 'Reliance BP - India',
 'Rupeek',
 'SAS Institute',
 'ST Micro Hi Tech & ITES 2022',
 'Saks Hi Tech & ITES 2022',
 'Samsung Delhi Hi Tech & ITES 2022',
 'Schlumberger Hi Tech & ITES 2022',
 'ServiceNow',
 'Setu Hi Tech & ITES 2022',
 'Sopra Banking Hi Tech & ITES 2022',
 'Springboard Hi Tech & ITES 2022',
 'Synopsys',
 'Tata Health Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Texas Instruments Hi Tech & ITES 2022',
 'Twitter',
 'Uber Technologies',
 'Ubisoft EMEA',
 'UiPath',
 'Upgrad Hi Tech & ITES 2022',
 'Visa U.S.A. Inc',
 'Volvo Group India',
 'WNS Global Services Hi Tech & ITES 2022',
 'Western Digital Corporation ',
 'WhitehatJr Hi Tech & ITES 2022',
 'Wingify Hi Tech & ITES 2022',
 'Workday',
 'Xilinx',
 'Zendesk',
 'Zeomega Hi Tech & ITES 2022',
 'Zynga Inc',
 'eBay'}

In [60]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [61]:
train_cols = ['Co. Designation', 'Co. Function']

In [62]:
target_col = 'Job Family Code'

In [63]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [64]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [65]:
# Load data
data = pd.read_csv('train_prod2.csv')

In [66]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Adobe Systems,Software Development Engineer,Engineering,PDXX
2,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Adobe Systems,Software Quality Engineer,Engineering,TEAU
4,Adobe Systems,Database Engineer,Information Technology,ASDB

In [67]:
data = data[all_cols]
data = data.dropna()

In [68]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [69]:
data.head()

                          Co. Designation    Co. Function Job Family Code
0                Senior Software Engineer       Tech Role            PDXX
1                  Lead Software Engineer       Tech Role            PDXX
2                       Platform Engineer   Not relevant             PDXX
3                      Product Specialist  IN-Other Roles            PDPM
4  Program Manager,Employee Effectiveness      People Ops            PRPO

In [70]:
df_test.head()

,Co. Designation,Co. Function,Job Family Code
0,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Software Development Engineer,Engineering,PDXX
2,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Software Quality Engineer,Engineering,TEAU
4,Database Engineer,Information Technology,ASDB

In [71]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [72]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [73]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.8883127965762015

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.88      0.84      0.86       397
        AAMD       0.95      0.91      0.93       207
        AAML       0.90      0.84      0.87       116
        AFAD       0.78      0.65      0.71        78
        AFFE       0.84      0.77      0.80       119
        AFSE       0.74      0.66      0.69        38
        AFXX       0.84      0.80      0.82       105
        ARCD       0.00      0.00      0.00         6
        ARIA       0.00      0.00      0.00         1
        ARRP       0.00      0.00      0.00        11
        ARSY       0.00      0.00      0.00         2
        ARXX       0.90      0.83      0.86       900
        ASCD       0.97      0.58      0.73       128
        ASDB       0.78      0.53      0.63        66
        ASEC       1.00      0.81      0.90        16
        ASFS       0.24      0.93      0.38        83
        ASMD       0.00      0.00      0.00        19
        ASPI       0.61      0.33      0.42       926
        ASRP       0.93      0.83      0.88        52
        ASSI       0.00      0.00      0.00         3
        ASUI       0.57      0.18      0.27        45
        ASWD       1.00      0.94      0.97       133
        ASXX       0.80      0.80      0.80      6361
        BCPM       0.89      0.62      0.73        13
        BFAC       1.00      1.00      1.00       106
        BFAM       1.00      1.00      1.00         2
        BFCA       0.80      0.91      0.85        22
        BFCB       1.00      1.00      1.00        72
        BFCM       1.00      1.00      1.00        21
        BFIR       1.00      1.00      1.00       256
        BFKY       1.00      1.00      1.00        23
        BFTF       0.96      1.00      0.98        25
        BFTO       0.00      0.00      0.00         2
        BFUW       1.00      1.00      1.00       116
        BFWB       1.00      1.00      1.00        46
        BSMT       0.89      0.86      0.87       147
        BSOP       0.92      0.79      0.85        68
        CCCE       1.00      1.00      1.00       180
        CCCO       0.93      1.00      0.97        14
        CCCV       1.00      0.98      0.99      1177
        CCID       0.00      0.00      0.00         3
        CCMD       0.98      0.98      0.98      1953
        CHRO       0.00      0.00      0.00         1
        CMDO       0.83      0.48      0.61       119
        CMXX       0.75      0.73      0.74       192
        CSAN       1.00      0.75      0.86        12
        CSBC       0.83      0.66      0.73       545
        CSCG       0.97      0.87      0.92       223
        CSCS       0.86      0.91      0.89       111
        CSED       1.00      0.96      0.98        46
        CSEL       0.00      0.00      0.00         5
        CSFC       0.86      0.90      0.88      1918
        CSSI       0.90      0.87      0.88      1754
        CTOC       0.00      0.00      0.00         1
        DABD       0.84      0.88      0.86       239
        DABI       0.51      0.49      0.50       118
        DADV       0.97      0.81      0.88        80
        DADW       0.00      0.00      0.00        21
        DMDA       1.00      0.80      0.89         5
        DMKM       0.00      0.00      0.00         2
        DMMD       0.00      0.00      0.00         5
        DMSM       1.00      0.92      0.96        26
        EDCA       0.97      0.91      0.94       108
        EDEE       0.99      0.94      0.96       696
        EDFE       1.00      0.56      0.71         9
        EDME       0.96      0.93      0.94       236
        EDXX       0.99      0.79      0.88       214
        FAAG       0.86      0.93      0.89       413
        FAAP       0.98      1.00      0.99       492
        FAAU       0.00      0.00      0.00         1
        FAER       0.86      0.55      0.67        11
        FAFA       0.76      0.88      0.82       369
        FAFI       0.99      0.99      0.99       401
        FALC       0.70      0.80      0.75        41
        FAML       1.00      0.99      0.99        87
        FATP       0.97      1.00      0.99        70
        FLAC       0.95      0.82      0.88       273
        FLFA       0.57      0.61      0.59        28
        FLLE       0.97      0.99      0.98       322
        FLMI       0.00      0.00      0.00         2
        FLPP       0.94      0.95      0.95       282
        FLPR       0.75      0.90      0.82       101
        FLTR       1.00      0.59      0.74        17
        FLTX       0.94      0.94      0.94        64
        FLXX       0.86      0.84      0.85       923
        GDXX       0.91      0.86      0.88       122
        HCMC       1.00      1.00      1.00        22
        HCMR       0.95      0.97      0.96        39
        HCRM       1.00      0.97      0.98       186
        HRBP       0.88      0.92      0.90       437
        HRCB       1.00      0.78      0.87        40
        HRDI       0.00      0.00      0.00         1
        HRGM       0.78      0.88      0.82        16
        HROD       1.00      0.07      0.13        14
        HRRE       0.94      0.94      0.94       509
        HRRM       1.00      0.61      0.76        18
        HRSS       0.81      0.71      0.76       140
        HRTR       0.90      0.77      0.83        73
        HRXX       0.83      0.62      0.71        84
        HSGL       0.71      0.70      0.71        43
        INAU       0.86      0.86      0.86        84
        INCL       1.00      0.10      0.18        41
        INDB       0.94      0.84      0.89       127
        INDC       0.94      0.87      0.90       102
        INDS       0.93      0.90      0.92       230
        INFE       0.00      0.00      0.00         1
        INFS       0.99      0.95      0.97       429
        INNE       0.84      0.82      0.83       333
        INRA       0.93      0.97      0.95      4342
        INRE       0.95      0.92      0.94       166
        INRI       1.00      0.83      0.91        12
        INSA       0.88      0.92      0.90        25
        INSS       0.74      0.72      0.73        43
        INTI       1.00      0.75      0.86         4
        INXX       0.78      0.73      0.75       583
        IPXX       0.00      0.00      0.00         5
        ITAU       0.41      0.90      0.56        39
        LECM       1.00      0.20      0.33        30
        LECO       0.97      0.83      0.90        47
        LEIP       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        24
        LERE       0.00      0.00      0.00         1
        MBCC       1.00      0.82      0.90        22
        MBCM       0.80      0.75      0.77       166
        MBCT       0.57      0.67      0.62        12
        MBDM       0.77      0.60      0.68       106
        MBGM       1.00      0.80      0.89         5
        MBSE       0.00      0.00      0.00         6
        MBXX       0.85      0.94      0.89       624
        PDFD       0.68      0.96      0.80      2467
        PDFS       0.75      0.36      0.49        58
        PDHD       0.88      0.53      0.66      2263
        PDLE       0.93      0.97      0.95       934
        PDMD       0.86      0.43      0.57        14
        PDPM       0.91      0.89      0.90       769
        PDUI       0.72      0.58      0.64       149
        PDXX       0.89      0.97      0.93     12850
        PRAG       0.44      0.37      0.40       103
        PRPO       0.91      0.88      0.89      1130
        PRXX       0.89      0.87      0.88      1173
        QAXX       0.85      0.64      0.73       182
        QUTF       0.86      0.94      0.90       431
        QUTS       1.00      0.99      1.00       200
        RABA       0.93      0.93      0.93       502
        RABF       0.99      0.99      0.99       160
        RAPR       0.93      0.73      0.82        88
        RASR       0.98      0.99      0.99       383
        RECR       1.00      0.87      0.93        69
        RICR       1.00      0.58      0.74        12
        RIOR       1.00      1.00      1.00        22
        RSMO       0.94      0.88      0.91        17
        RSSC       0.86      0.91      0.89       140
        RSSD       0.00      0.00      0.00        17
        RSVM       0.89      0.14      0.24        58
        RSWL       0.89      0.95      0.92       499
        SAAC       0.85      0.88      0.86       545
        SABD       0.95      0.97      0.96      3461
        SACH       0.87      0.71      0.78       244
        SACS       0.97      0.98      0.97       955
        SAIN       0.91      0.97      0.94       918
        SAPA       1.00      0.50      0.67         2
        SAPS       0.97      0.92      0.95      1685
        SASD       0.94      0.92      0.93       596
        SAXX       0.89      0.82      0.85       546
        SCCP       0.95      0.80      0.87       186
        SSSO       0.69      0.80      0.74        96
        SYAS       0.94      0.71      0.81        42
        SYGR       0.00      0.00      0.00         3
        SYIM       0.79      0.93      0.86       134
        SYIN       0.71      0.50      0.59        10
        SYIS       1.00      0.79      0.88        19
        SYPT       1.00      0.25      0.40         4
        SYXX       0.86      0.71      0.78       210
        TEAU       0.93      0.91      0.92      1974
        TEEM       0.73      0.72      0.72       236
        TEMT       0.89      0.83      0.86       162
        TEXX       0.94      0.93      0.94      2136
        TOCO       0.98      1.00      0.99      2578
        TOFC       0.71      0.85      0.77       214
        TOFS       0.97      0.92      0.94       183
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.24      0.39        25
        TOPO       0.99      0.87      0.92       112
        TOSI       1.00      1.00      1.00       717
        TRPR       0.96      0.79      0.87        57
        TRTN       1.00      0.67      0.80        12
        TTXX       0.92      0.66      0.77        93
        TWXX       0.94      0.74      0.83       408
        UEXX       0.67      0.65      0.66        86
        VATR       1.00      0.80      0.89         5

    accuracy                           0.89     77341
   macro avg       0.77      0.69      0.72     77341
weighted avg       0.89      0.89      0.88     77341

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [74]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)
    
X_unseen = hstack(X_test_unseen)

In [75]:
y_test_pred = model.predict (X_unseen)

In [76]:
pd.DataFrame(y_test_pred).to_csv('maps_prodsim2.csv')

In [77]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.9150409062303335

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.88      0.84      0.86       397
        AAMD       0.95      0.91      0.93       207
        AAML       0.90      0.84      0.87       116
        AFAD       0.78      0.65      0.71        78
        AFFE       0.84      0.77      0.80       119
        AFSE       0.74      0.66      0.69        38
        AFXX       0.84      0.80      0.82       105
        ARCD       0.00      0.00      0.00         6
        ARIA       0.00      0.00      0.00         1
        ARRP       0.00      0.00      0.00        11
        ARSY       0.00      0.00      0.00         2
        ARXX       0.90      0.83      0.86       900
        ASCD       0.97      0.58      0.73       128
        ASDB       0.78      0.53      0.63        66
        ASEC       1.00      0.81      0.90        16
        ASFS       0.24      0.93      0.38        83
        ASMD       0.00      0.00      0.00        19
        ASPI       0.61      0.33      0.42       926
        ASRP       0.93      0.83      0.88        52
        ASSI       0.00      0.00      0.00         3
        ASUI       0.57      0.18      0.27        45
        ASWD       1.00      0.94      0.97       133
        ASXX       0.80      0.80      0.80      6361
        BCPM       0.89      0.62      0.73        13
        BFAC       1.00      1.00      1.00       106
        BFAM       1.00      1.00      1.00         2
        BFCA       0.80      0.91      0.85        22
        BFCB       1.00      1.00      1.00        72
        BFCM       1.00      1.00      1.00        21
        BFIR       1.00      1.00      1.00       256
        BFKY       1.00      1.00      1.00        23
        BFTF       0.96      1.00      0.98        25
        BFTO       0.00      0.00      0.00         2
        BFUW       1.00      1.00      1.00       116
        BFWB       1.00      1.00      1.00        46
        BSMT       0.89      0.86      0.87       147
        BSOP       0.92      0.79      0.85        68
        CCCE       1.00      1.00      1.00       180
        CCCO       0.93      1.00      0.97        14
        CCCV       1.00      0.98      0.99      1177
        CCID       0.00      0.00      0.00         3
        CCMD       0.98      0.98      0.98      1953
        CHRO       0.00      0.00      0.00         1
        CMDO       0.83      0.48      0.61       119
        CMXX       0.75      0.73      0.74       192
        CSAN       1.00      0.75      0.86        12
        CSBC       0.83      0.66      0.73       545
        CSCG       0.97      0.87      0.92       223
        CSCS       0.86      0.91      0.89       111
        CSED       1.00      0.96      0.98        46
        CSEL       0.00      0.00      0.00         5
        CSFC       0.86      0.90      0.88      1918
        CSSI       0.90      0.87      0.88      1754
        CTOC       0.00      0.00      0.00         1
        DABD       0.84      0.88      0.86       239
        DABI       0.51      0.49      0.50       118
        DADV       0.97      0.81      0.88        80
        DADW       0.00      0.00      0.00        21
        DMDA       1.00      0.80      0.89         5
        DMKM       0.00      0.00      0.00         2
        DMMD       0.00      0.00      0.00         5
        DMSM       1.00      0.92      0.96        26
        EDCA       0.97      0.91      0.94       108
        EDEE       0.99      0.94      0.96       696
        EDFE       1.00      0.56      0.71         9
        EDME       0.96      0.93      0.94       236
        EDXX       0.99      0.79      0.88       214
        FAAG       0.86      0.93      0.89       413
        FAAP       0.98      1.00      0.99       492
        FAAU       0.00      0.00      0.00         1
        FAER       0.86      0.55      0.67        11
        FAFA       0.76      0.88      0.82       369
        FAFI       0.99      0.99      0.99       401
        FALC       0.70      0.80      0.75        41
        FAML       1.00      0.99      0.99        87
        FATP       0.97      1.00      0.99        70
        FLAC       0.95      0.82      0.88       273
        FLFA       0.57      0.61      0.59        28
        FLLE       0.97      0.99      0.98       322
        FLMI       0.00      0.00      0.00         2
        FLPP       0.94      0.95      0.95       282
        FLPR       0.75      0.90      0.82       101
        FLTR       1.00      0.59      0.74        17
        FLTX       0.94      0.94      0.94        64
        FLXX       0.86      0.84      0.85       923
        GDXX       0.91      0.86      0.88       122
        HCMC       1.00      1.00      1.00        22
        HCMR       0.95      0.97      0.96        39
        HCRM       1.00      0.97      0.98       186
        HRBP       0.88      0.92      0.90       437
        HRCB       1.00      0.78      0.87        40
        HRDI       0.00      0.00      0.00         1
        HRGM       0.78      0.88      0.82        16
        HROD       1.00      0.07      0.13        14
        HRRE       0.94      0.94      0.94       509
        HRRM       1.00      0.61      0.76        18
        HRSS       0.81      0.71      0.76       140
        HRTR       0.90      0.77      0.83        73
        HRXX       0.83      0.62      0.71        84
        HSGL       0.71      0.70      0.71        43
        INAU       0.86      0.86      0.86        84
        INCL       1.00      0.10      0.18        41
        INDB       0.94      0.84      0.89       127
        INDC       0.94      0.87      0.90       102
        INDS       0.93      0.90      0.92       230
        INFE       0.00      0.00      0.00         1
        INFS       0.99      0.95      0.97       429
        INNE       0.84      0.82      0.83       333
        INRA       0.93      0.97      0.95      4342
        INRE       0.95      0.92      0.94       166
        INRI       1.00      0.83      0.91        12
        INSA       0.88      0.92      0.90        25
        INSS       0.74      0.72      0.73        43
        INTI       1.00      0.75      0.86         4
        INXX       0.78      0.73      0.75       583
        IPXX       0.00      0.00      0.00         5
        ITAU       0.41      0.90      0.56        39
        LECM       1.00      0.20      0.33        30
        LECO       0.97      0.83      0.90        47
        LEIP       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        24
        LERE       0.00      0.00      0.00         1
        MBCC       1.00      0.82      0.90        22
        MBCM       0.80      0.75      0.77       166
        MBCT       0.57      0.67      0.62        12
        MBDM       0.77      0.60      0.68       106
        MBGM       1.00      0.80      0.89         5
        MBSE       0.00      0.00      0.00         6
        MBXX       0.85      0.94      0.89       624
        PDFD       0.68      0.96      0.80      2467
        PDFS       0.75      0.36      0.49        58
        PDHD       0.88      0.53      0.66      2263
        PDLE       0.93      0.97      0.95       934
        PDMD       0.86      0.43      0.57        14
        PDPM       0.91      0.89      0.90       769
        PDUI       0.72      0.58      0.64       149
        PDXX       0.89      0.97      0.93     12850
        PRAG       0.44      0.37      0.40       103
        PRPO       0.91      0.88      0.89      1130
        PRXX       0.89      0.87      0.88      1173
        QAXX       0.85      0.64      0.73       182
        QUTF       0.86      0.94      0.90       431
        QUTS       1.00      0.99      1.00       200
        RABA       0.93      0.93      0.93       502
        RABF       0.99      0.99      0.99       160
        RAPR       0.93      0.73      0.82        88
        RASR       0.98      0.99      0.99       383
        RECR       1.00      0.87      0.93        69
        RICR       1.00      0.58      0.74        12
        RIOR       1.00      1.00      1.00        22
        RSMO       0.94      0.88      0.91        17
        RSSC       0.86      0.91      0.89       140
        RSSD       0.00      0.00      0.00        17
        RSVM       0.89      0.14      0.24        58
        RSWL       0.89      0.95      0.92       499
        SAAC       0.85      0.88      0.86       545
        SABD       0.95      0.97      0.96      3461
        SACH       0.87      0.71      0.78       244
        SACS       0.97      0.98      0.97       955
        SAIN       0.91      0.97      0.94       918
        SAPA       1.00      0.50      0.67         2
        SAPS       0.97      0.92      0.95      1685
        SASD       0.94      0.92      0.93       596
        SAXX       0.89      0.82      0.85       546
        SCCP       0.95      0.80      0.87       186
        SSSO       0.69      0.80      0.74        96
        SYAS       0.94      0.71      0.81        42
        SYGR       0.00      0.00      0.00         3
        SYIM       0.79      0.93      0.86       134
        SYIN       0.71      0.50      0.59        10
        SYIS       1.00      0.79      0.88        19
        SYPT       1.00      0.25      0.40         4
        SYXX       0.86      0.71      0.78       210
        TEAU       0.93      0.91      0.92      1974
        TEEM       0.73      0.72      0.72       236
        TEMT       0.89      0.83      0.86       162
        TEXX       0.94      0.93      0.94      2136
        TOCO       0.98      1.00      0.99      2578
        TOFC       0.71      0.85      0.77       214
        TOFS       0.97      0.92      0.94       183
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.24      0.39        25
        TOPO       0.99      0.87      0.92       112
        TOSI       1.00      1.00      1.00       717
        TRPR       0.96      0.79      0.87        57
        TRTN       1.00      0.67      0.80        12
        TTXX       0.92      0.66      0.77        93
        TWXX       0.94      0.74      0.83       408
        UEXX       0.67      0.65      0.66        86
        VATR       1.00      0.80      0.89         5

    accuracy                           0.89     77341
   macro avg       0.77      0.69      0.72     77341
weighted avg       0.89      0.89      0.88     77341

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [78]:
df_test

,Co. Designation,Co. Function,Job Family Code
0,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Software Development Engineer,Engineering,PDXX
2,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Software Quality Engineer,Engineering,TEAU
4,Database Engineer,Information Technology,ASDB
...,...,...,...
6351,Client Relationship Rep,Professional Services / Consulting,CSBC
6352,Technical Support Engineer,Customer Service / Support,INRA
6353,Technical Support Engineer,Customer Service / Support,INRA
6354,Technical Support Engineer,Customer Service / Support,INRA
6355,Software Development Engineer,Engineering,PDXX