<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v2_Trial_Product.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('Train_1_ExcludingTest.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Zeomega Hi Tech & ITES 2022,Software Developer,Software Development,PDFS
1,Zeomega Hi Tech & ITES 2022,QA Engineer,Software Development,TEMT
2,Zeomega Hi Tech & ITES 2022,Senior RFP Analyst,Software Development,SASD
3,Zeomega Hi Tech & ITES 2022,Sales Manager,Software Development,SASD
4,Zeomega Hi Tech & ITES 2022,Associate Project Manager,Software Development,PRPO

In [46]:
df_test = pd.read_csv('Test_1_Springboard.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Springboard Hi Tech & ITES 2022,Senior Software Engineer,Tech Role,PDXX
1,Springboard Hi Tech & ITES 2022,Lead Software Engineer,Tech Role,PDXX
2,Springboard Hi Tech & ITES 2022,Product Specialist,IN-Other Roles,PDPM
3,Springboard Hi Tech & ITES 2022,"Program Manager,Employee Effectiveness",People Ops,PRPO
4,Springboard Hi Tech & ITES 2022,Engineer,Tech Role,PDXX

In [47]:
df.shape
set(df['Company Name'])

{'24-7 AI Hi Tech & ITES 2022',
 '3 Pillar Global Hi Tech & ITES 2022',
 '75F Hi Tech & ITES 2022',
 'AMD (Xillinsx) Hi Tech & ITES 2022',
 'ARM',
 'Adobe Systems',
 'Aerospike',
 'Agoda Services',
 'Airbnb',
 'Akamai Technologies',
 'Alibaba Group Inc',
 'Amadeus Hi Tech & ITES 2022',
 'Amagi Media Labs Pvt Ltd',
 'Amazon (Radford)',
 'American Express',
 'Analog Devices',
 'Antworks Hi Tech & ITES 2022',
 'Applied Materials',
 'ArisGlobal Software Pvt Ltd',
 'Aristocrat Technologies India Pvt Ltd',
 'Atkins Hi Tech & ITES 2022',
 'Atlassian',
 'Avaya',
 'Broadcom',
 'Browser Hi Tech & ITES 2022',
 'Byjus',
 'Cadence Hi Tech & ITES 2022',
 'Cimpress',
 'Cisco Systems',
 'Cloudera',
 'CoinDCX Hi Tech & ITES 2022',
 'Coursera',
 'CredAvenue',
 'Data Weave Hi Tech & ITES 2022',
 'Dealshare Non Tech Hi Tech & ITES 2022',
 'Dealshare Tech Hi Tech & ITES 2022',
 'Dell',
 'Deluxe Entertainment Distribution India Private Limited',
 'Denali AI India Pvt. Ltd.',
 'Duck Creek Hi Tech & ITES 2022',
 'EcomExpress Hi Tech & ITES 2022',
 'Ephicacy Lifescience Analytics Pvt Ltd ',
 'Ericsson',
 'Esri',
 'Expedia',
 'F5, Inc',
 'Factset Hi Tech & ITES 2022',
 'FalconX Tech & ITES 2022',
 'Finastra',
 'Flipkart',
 'Freshworks Hi Tech & ITES 2022',
 'Furlenco Hi Tech & ITES 2022',
 'GEP Hi Tech & ITES 2022',
 'Games 24x7 - India',
 'Go-Jek',
 'Grey Orange Hi Tech & ITES 2022',
 'Groupon',
 'HP Hi Tech & ITES 2022',
 'Harman India Hi Tech & ITES 2022',
 'Honeywell International',
 'IQVIA',
 'ITILITE',
 'Infineon Technologies',
 'Infor India PVt Ltd',
 'Instawork Hi Tech & ITES 2022',
 'Intel',
 'Interview Kickstart',
 'Jocata Hi Tech & ITES 2022',
 'Juniper Networks',
 'L&T EduTech Hi Tech & ITES 2022',
 'L&T Smartworld Hi Tech & ITES 2022',
 'Lam Research',
 'LinkedIn Corporation',
 'Lockheed Martin',
 'Mastercard Worldwide',
 'Maxlinear',
 'McAfee',
 'Mediatek',
 'Mentor Graphics Hi Tech & ITES 2022',
 'Meta',
 'MetircStream Infotech India Pvt Limited',
 'Microchip Technology',
 'Microsoft',
 'MongoDB',
 'Motorola Hi Tech & ITES 2022',
 'NXP  Semiconductors Hi Tech & ITES 2022',
 'NetApp',
 'Netradyne Hi Tech & ITES 2022',
 'Nutanix',
 'Nvidia Hi Tech & ITES 2022',
 'On Semiconductor Hi Tech & ITES 2022',
 'Onmobile Hi Tech & ITES 2022',
 'Open Text Corporation',
 'Oracle',
 'Paypal',
 'Pegasystems',
 'Pharmeasy Hi Tech & ITES 2022',
 'Pine Labs - India',
 'Qualcomm Hi Tech & ITES 2022',
 'ROHM SEMICONDUCTOR INDIA PVT LTD',
 'Rakuten',
 'Rambus Hi Tech & ITES 2022',
 'Red Hat',
 'Reliance BP - India',
 'SAS Institute',
 'ST Micro Hi Tech & ITES 2022',
 'Saks Hi Tech & ITES 2022',
 'Samsung Delhi Hi Tech & ITES 2022',
 'Samsung Noida Hi Tech & ITES 2022',
 'Schlumberger Hi Tech & ITES 2022',
 'ServiceNow',
 'Setu Hi Tech & ITES 2022',
 'Sopra Banking Hi Tech & ITES 2022',
 'Synopsys',
 'Tata Health Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Texas Instruments Hi Tech & ITES 2022',
 'Twitter',
 'Uber Technologies',
 'Ubisoft EMEA',
 'UiPath',
 'Upgrad Hi Tech & ITES 2022',
 'Visa U.S.A. Inc',
 'Volvo Group India',
 'WNS Global Services Hi Tech & ITES 2022',
 'Western Digital Corporation ',
 'WhitehatJr Hi Tech & ITES 2022',
 'Wingify Hi Tech & ITES 2022',
 'Workday',
 'Xilinx',
 'Zendesk',
 'Zeomega Hi Tech & ITES 2022',
 'Zynga Inc',
 'eBay'}

In [48]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [49]:
train_cols = ['Co. Designation', 'Co. Function']

In [50]:
target_col = 'Job Family Code'

In [51]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [52]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [53]:
# Load data
data = pd.read_csv('Train_1_ExcludingTest.csv')

In [54]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Springboard Hi Tech & ITES 2022,Senior Software Engineer,Tech Role,PDXX
1,Springboard Hi Tech & ITES 2022,Lead Software Engineer,Tech Role,PDXX
2,Springboard Hi Tech & ITES 2022,Product Specialist,IN-Other Roles,PDPM
3,Springboard Hi Tech & ITES 2022,"Program Manager,Employee Effectiveness",People Ops,PRPO
4,Springboard Hi Tech & ITES 2022,Engineer,Tech Role,PDXX

In [55]:
data = data[all_cols]
data = data.dropna()

In [56]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [67]:
data.shape()

TypeError: ignored

In [58]:
df_test.head()

                          Co. Designation    Co. Function Job Family Code
0                Senior Software Engineer       Tech Role            PDXX
1                  Lead Software Engineer       Tech Role            PDXX
2                      Product Specialist  IN-Other Roles            PDPM
3  Program Manager,Employee Effectiveness      People Ops            PRPO
4                                Engineer       Tech Role            PDXX

In [59]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [60]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [61]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.8953695458593054

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.90      0.84      0.87       398
        AAMD       0.96      0.92      0.94       192
        AAML       0.94      0.79      0.86       111
        AFAD       0.80      0.76      0.78        62
        AFFE       0.81      0.74      0.78       119
        AFSE       0.76      0.73      0.75        26
        AFXX       0.89      0.72      0.80       115
        ARCD       1.00      0.12      0.22         8
        ARRP       1.00      0.33      0.50         3
        ARXX       0.92      0.86      0.89       774
        ASCD       0.00      0.00      0.00        38
        ASDB       0.91      0.58      0.71        71
        ASEC       1.00      0.92      0.96        13
        ASFS       0.28      0.92      0.43        93
        ASMD       0.00      0.00      0.00        11
        ASPI       0.89      0.67      0.76       213
        ASRP       0.92      0.56      0.70       121
        ASSI       0.67      0.18      0.29        11
        ASUI       0.73      0.77      0.75        57
        ASWD       1.00      0.95      0.98       109
        ASXX       0.85      0.79      0.82      5095
        BCPM       0.69      0.69      0.69        13
        BFAC       1.00      0.99      1.00       111
        BFAM       1.00      1.00      1.00         2
        BFCA       0.83      0.93      0.88        27
        BFCB       1.00      1.00      1.00        74
        BFCM       1.00      1.00      1.00        32
        BFIR       1.00      1.00      1.00       250
        BFKY       1.00      1.00      1.00        27
        BFTF       0.96      0.96      0.96        27
        BFTO       0.00      0.00      0.00         4
        BFUW       1.00      1.00      1.00       124
        BFWB       1.00      1.00      1.00        50
        BSMT       0.93      0.89      0.91       149
        BSOP       0.89      0.85      0.87        46
        CCCE       1.00      1.00      1.00       175
        CCCO       0.93      0.87      0.90        15
        CCCV       0.99      0.99      0.99      1236
        CCID       0.00      0.00      0.00         3
        CCMD       0.98      0.99      0.98      2002
        CMDO       0.68      0.31      0.42        85
        CMXX       0.87      0.76      0.81       160
        CSAN       0.65      0.87      0.74        15
        CSBC       0.87      0.75      0.81       632
        CSCG       0.96      0.91      0.93       224
        CSCS       0.92      0.91      0.91        99
        CSED       1.00      0.91      0.96        35
        CSEL       0.00      0.00      0.00         7
        CSFC       0.87      0.91      0.89      1905
        CSSI       0.92      0.90      0.91      1658
        DABD       0.75      0.82      0.79       255
        DABI       0.67      0.31      0.43       127
        DADV       1.00      0.79      0.88        72
        DADW       0.00      0.00      0.00        19
        DMDA       1.00      0.50      0.67         6
        DMKM       0.00      0.00      0.00         1
        DMMD       0.00      0.00      0.00         3
        DMSM       1.00      0.96      0.98        23
        EDCA       0.97      0.89      0.93       113
        EDEE       0.98      0.94      0.96       719
        EDFE       1.00      0.45      0.62        11
        EDME       0.95      0.93      0.94       220
        EDXX       0.95      0.83      0.89       210
        FAAG       0.87      0.92      0.89       418
        FAAP       0.99      1.00      0.99       449
        FAER       0.70      0.54      0.61        13
        FAFA       0.80      0.89      0.84       400
        FAFI       1.00      0.99      0.99       416
        FALC       0.81      0.80      0.81        55
        FAML       1.00      0.98      0.99       101
        FATP       1.00      1.00      1.00        57
        FLAC       0.90      0.82      0.86       284
        FLCS       0.00      0.00      0.00         3
        FLFA       0.59      0.67      0.63        24
        FLLE       0.99      0.98      0.98       381
        FLMI       0.00      0.00      0.00         1
        FLPP       0.96      0.95      0.96       316
        FLPR       0.77      0.89      0.82       110
        FLTR       0.88      0.70      0.78        20
        FLTX       0.94      0.95      0.95        65
        FLXX       0.84      0.82      0.83       850
        GDXX       0.93      0.90      0.92       126
        HCMC       1.00      1.00      1.00        20
        HCMR       0.95      0.98      0.97        43
        HCRM       0.95      0.96      0.95       199
        HRBP       0.84      0.89      0.86       480
        HRCB       0.97      0.81      0.88        42
        HRGM       0.71      0.94      0.81        18
        HROD       1.00      0.06      0.11        17
        HRRE       0.92      0.93      0.93       431
        HRRM       1.00      0.50      0.67        10
        HRSS       0.90      0.75      0.82       174
        HRTR       0.88      0.72      0.79        83
        HRXX       0.71      0.41      0.52        86
        HSGL       0.98      0.98      0.98        49
        INAU       0.91      0.86      0.89        72
        INCL       1.00      0.19      0.31        27
        INDB       0.92      0.88      0.90       145
        INDC       1.00      0.58      0.74        24
        INDS       0.92      0.88      0.90       260
        INFE       0.00      0.00      0.00         1
        INFS       0.99      0.97      0.98       433
        INNE       0.82      0.82      0.82       289
        INRA       0.95      0.97      0.96      4048
        INRE       0.97      0.91      0.94       183
        INRI       1.00      1.00      1.00         6
        INRP       0.00      0.00      0.00         1
        INSA       0.97      0.97      0.97        35
        INSS       0.74      0.59      0.66        44
        INTI       1.00      0.12      0.22         8
        INXX       0.76      0.73      0.75       595
        IPXX       0.00      0.00      0.00         3
        ITAU       0.43      0.86      0.57        42
        LECM       1.00      0.35      0.51        26
        LECO       0.94      0.97      0.95        30
        LEIP       0.00      0.00      0.00         2
        LEPO       1.00      1.00      1.00        17
        MBCC       0.94      0.75      0.83        20
        MBCM       0.77      0.76      0.77       181
        MBDM       0.95      0.70      0.80       126
        MBGM       0.40      0.86      0.55        22
        MBSE       1.00      0.14      0.25         7
        MBXX       0.88      0.92      0.90       678
        PDFD       0.67      0.86      0.75      2670
        PDFS       0.83      0.53      0.65        57
        PDHD       0.75      0.59      0.66      2604
        PDLE       0.95      0.95      0.95       926
        PDMD       0.67      0.22      0.33        18
        PDPM       0.92      0.91      0.91       826
        PDUI       0.86      0.46      0.60       199
        PDXX       0.90      0.98      0.93     13208
        PRAG       0.48      0.35      0.41       116
        PRPO       0.90      0.87      0.89      1180
        PRXX       0.89      0.90      0.90      1114
        QAXX       0.84      0.68      0.75       174
        QUTF       0.87      0.97      0.92       407
        QUTS       1.00      1.00      1.00       207
        RABA       0.90      0.95      0.93       478
        RABF       1.00      0.96      0.98       146
        RAPR       0.94      0.78      0.85        80
        RARA       0.00      0.00      0.00         2
        RASR       0.99      0.99      0.99       368
        RECR       1.00      0.95      0.98        62
        RICR       1.00      0.62      0.77         8
        RIOR       1.00      0.94      0.97        17
        RSMO       1.00      0.80      0.89        10
        RSSC       0.82      0.89      0.85       121
        RSSD       0.10      0.05      0.07        20
        RSVM       0.93      0.22      0.36        58
        RSWL       0.88      0.94      0.91       547
        SAAC       0.81      0.90      0.85       521
        SABD       0.95      0.98      0.96      3590
        SACH       0.88      0.72      0.79       272
        SACS       0.97      0.97      0.97      1039
        SAIN       0.86      0.94      0.90       759
        SAPS       0.98      0.92      0.95      1765
        SASD       0.95      0.95      0.95       639
        SAXX       0.92      0.74      0.82       523
        SCCP       0.96      0.81      0.88       185
        SSSO       0.76      0.86      0.81        88
        SYAS       0.92      0.73      0.81        30
        SYGR       1.00      0.33      0.50        12
        SYIM       0.79      0.90      0.84       144
        SYIN       0.72      0.76      0.74        17
        SYIS       0.00      0.00      0.00         2
        SYPT       0.00      0.00      0.00         1
        SYXX       0.90      0.58      0.71       129
        TEAU       0.94      0.91      0.92      2116
        TEEM       0.75      0.70      0.72       247
        TEMT       0.93      0.66      0.77       318
        TEXX       0.96      0.94      0.95      2189
        TOCO       0.98      1.00      0.99      2521
        TOFC       0.73      0.89      0.80       230
        TOFS       0.99      0.92      0.95       159
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.40      0.57        30
        TOPO       0.96      0.89      0.92       107
        TOSI       0.99      1.00      1.00       742
        TRPR       1.00      0.87      0.93        45
        TRTN       1.00      0.82      0.90        17
        TTXX       0.90      0.79      0.84        66
        TWXX       0.91      0.76      0.83       471
        UEXX       0.69      0.60      0.64        88
        VATR       1.00      0.60      0.75         5

    accuracy                           0.90     76364
   macro avg       0.80      0.71      0.73     76364
weighted avg       0.90      0.90      0.89     76364

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [62]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)

X_unseen = hstack(X_test_unseen)

In [63]:
y_test_pred = model.predict (X_unseen)

In [64]:
pd.DataFrame(y_test_pred).to_csv('maps_gcc')

In [65]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.8378378378378378

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.90      0.84      0.87       398
        AAMD       0.96      0.92      0.94       192
        AAML       0.94      0.79      0.86       111
        AFAD       0.80      0.76      0.78        62
        AFFE       0.81      0.74      0.78       119
        AFSE       0.76      0.73      0.75        26
        AFXX       0.89      0.72      0.80       115
        ARCD       1.00      0.12      0.22         8
        ARRP       1.00      0.33      0.50         3
        ARXX       0.92      0.86      0.89       774
        ASCD       0.00      0.00      0.00        38
        ASDB       0.91      0.58      0.71        71
        ASEC       1.00      0.92      0.96        13
        ASFS       0.28      0.92      0.43        93
        ASMD       0.00      0.00      0.00        11
        ASPI       0.89      0.67      0.76       213
        ASRP       0.92      0.56      0.70       121
        ASSI       0.67      0.18      0.29        11
        ASUI       0.73      0.77      0.75        57
        ASWD       1.00      0.95      0.98       109
        ASXX       0.85      0.79      0.82      5095
        BCPM       0.69      0.69      0.69        13
        BFAC       1.00      0.99      1.00       111
        BFAM       1.00      1.00      1.00         2
        BFCA       0.83      0.93      0.88        27
        BFCB       1.00      1.00      1.00        74
        BFCM       1.00      1.00      1.00        32
        BFIR       1.00      1.00      1.00       250
        BFKY       1.00      1.00      1.00        27
        BFTF       0.96      0.96      0.96        27
        BFTO       0.00      0.00      0.00         4
        BFUW       1.00      1.00      1.00       124
        BFWB       1.00      1.00      1.00        50
        BSMT       0.93      0.89      0.91       149
        BSOP       0.89      0.85      0.87        46
        CCCE       1.00      1.00      1.00       175
        CCCO       0.93      0.87      0.90        15
        CCCV       0.99      0.99      0.99      1236
        CCID       0.00      0.00      0.00         3
        CCMD       0.98      0.99      0.98      2002
        CMDO       0.68      0.31      0.42        85
        CMXX       0.87      0.76      0.81       160
        CSAN       0.65      0.87      0.74        15
        CSBC       0.87      0.75      0.81       632
        CSCG       0.96      0.91      0.93       224
        CSCS       0.92      0.91      0.91        99
        CSED       1.00      0.91      0.96        35
        CSEL       0.00      0.00      0.00         7
        CSFC       0.87      0.91      0.89      1905
        CSSI       0.92      0.90      0.91      1658
        DABD       0.75      0.82      0.79       255
        DABI       0.67      0.31      0.43       127
        DADV       1.00      0.79      0.88        72
        DADW       0.00      0.00      0.00        19
        DMDA       1.00      0.50      0.67         6
        DMKM       0.00      0.00      0.00         1
        DMMD       0.00      0.00      0.00         3
        DMSM       1.00      0.96      0.98        23
        EDCA       0.97      0.89      0.93       113
        EDEE       0.98      0.94      0.96       719
        EDFE       1.00      0.45      0.62        11
        EDME       0.95      0.93      0.94       220
        EDXX       0.95      0.83      0.89       210
        FAAG       0.87      0.92      0.89       418
        FAAP       0.99      1.00      0.99       449
        FAER       0.70      0.54      0.61        13
        FAFA       0.80      0.89      0.84       400
        FAFI       1.00      0.99      0.99       416
        FALC       0.81      0.80      0.81        55
        FAML       1.00      0.98      0.99       101
        FATP       1.00      1.00      1.00        57
        FLAC       0.90      0.82      0.86       284
        FLCS       0.00      0.00      0.00         3
        FLFA       0.59      0.67      0.63        24
        FLLE       0.99      0.98      0.98       381
        FLMI       0.00      0.00      0.00         1
        FLPP       0.96      0.95      0.96       316
        FLPR       0.77      0.89      0.82       110
        FLTR       0.88      0.70      0.78        20
        FLTX       0.94      0.95      0.95        65
        FLXX       0.84      0.82      0.83       850
        GDXX       0.93      0.90      0.92       126
        HCMC       1.00      1.00      1.00        20
        HCMR       0.95      0.98      0.97        43
        HCRM       0.95      0.96      0.95       199
        HRBP       0.84      0.89      0.86       480
        HRCB       0.97      0.81      0.88        42
        HRGM       0.71      0.94      0.81        18
        HROD       1.00      0.06      0.11        17
        HRRE       0.92      0.93      0.93       431
        HRRM       1.00      0.50      0.67        10
        HRSS       0.90      0.75      0.82       174
        HRTR       0.88      0.72      0.79        83
        HRXX       0.71      0.41      0.52        86
        HSGL       0.98      0.98      0.98        49
        INAU       0.91      0.86      0.89        72
        INCL       1.00      0.19      0.31        27
        INDB       0.92      0.88      0.90       145
        INDC       1.00      0.58      0.74        24
        INDS       0.92      0.88      0.90       260
        INFE       0.00      0.00      0.00         1
        INFS       0.99      0.97      0.98       433
        INNE       0.82      0.82      0.82       289
        INRA       0.95      0.97      0.96      4048
        INRE       0.97      0.91      0.94       183
        INRI       1.00      1.00      1.00         6
        INRP       0.00      0.00      0.00         1
        INSA       0.97      0.97      0.97        35
        INSS       0.74      0.59      0.66        44
        INTI       1.00      0.12      0.22         8
        INXX       0.76      0.73      0.75       595
        IPXX       0.00      0.00      0.00         3
        ITAU       0.43      0.86      0.57        42
        LECM       1.00      0.35      0.51        26
        LECO       0.94      0.97      0.95        30
        LEIP       0.00      0.00      0.00         2
        LEPO       1.00      1.00      1.00        17
        MBCC       0.94      0.75      0.83        20
        MBCM       0.77      0.76      0.77       181
        MBDM       0.95      0.70      0.80       126
        MBGM       0.40      0.86      0.55        22
        MBSE       1.00      0.14      0.25         7
        MBXX       0.88      0.92      0.90       678
        PDFD       0.67      0.86      0.75      2670
        PDFS       0.83      0.53      0.65        57
        PDHD       0.75      0.59      0.66      2604
        PDLE       0.95      0.95      0.95       926
        PDMD       0.67      0.22      0.33        18
        PDPM       0.92      0.91      0.91       826
        PDUI       0.86      0.46      0.60       199
        PDXX       0.90      0.98      0.93     13208
        PRAG       0.48      0.35      0.41       116
        PRPO       0.90      0.87      0.89      1180
        PRXX       0.89      0.90      0.90      1114
        QAXX       0.84      0.68      0.75       174
        QUTF       0.87      0.97      0.92       407
        QUTS       1.00      1.00      1.00       207
        RABA       0.90      0.95      0.93       478
        RABF       1.00      0.96      0.98       146
        RAPR       0.94      0.78      0.85        80
        RARA       0.00      0.00      0.00         2
        RASR       0.99      0.99      0.99       368
        RECR       1.00      0.95      0.98        62
        RICR       1.00      0.62      0.77         8
        RIOR       1.00      0.94      0.97        17
        RSMO       1.00      0.80      0.89        10
        RSSC       0.82      0.89      0.85       121
        RSSD       0.10      0.05      0.07        20
        RSVM       0.93      0.22      0.36        58
        RSWL       0.88      0.94      0.91       547
        SAAC       0.81      0.90      0.85       521
        SABD       0.95      0.98      0.96      3590
        SACH       0.88      0.72      0.79       272
        SACS       0.97      0.97      0.97      1039
        SAIN       0.86      0.94      0.90       759
        SAPS       0.98      0.92      0.95      1765
        SASD       0.95      0.95      0.95       639
        SAXX       0.92      0.74      0.82       523
        SCCP       0.96      0.81      0.88       185
        SSSO       0.76      0.86      0.81        88
        SYAS       0.92      0.73      0.81        30
        SYGR       1.00      0.33      0.50        12
        SYIM       0.79      0.90      0.84       144
        SYIN       0.72      0.76      0.74        17
        SYIS       0.00      0.00      0.00         2
        SYPT       0.00      0.00      0.00         1
        SYXX       0.90      0.58      0.71       129
        TEAU       0.94      0.91      0.92      2116
        TEEM       0.75      0.70      0.72       247
        TEMT       0.93      0.66      0.77       318
        TEXX       0.96      0.94      0.95      2189
        TOCO       0.98      1.00      0.99      2521
        TOFC       0.73      0.89      0.80       230
        TOFS       0.99      0.92      0.95       159
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.40      0.57        30
        TOPO       0.96      0.89      0.92       107
        TOSI       0.99      1.00      1.00       742
        TRPR       1.00      0.87      0.93        45
        TRTN       1.00      0.82      0.90        17
        TTXX       0.90      0.79      0.84        66
        TWXX       0.91      0.76      0.83       471
        UEXX       0.69      0.60      0.64        88
        VATR       1.00      0.60      0.75         5

    accuracy                           0.90     76364
   macro avg       0.80      0.71      0.73     76364
weighted avg       0.90      0.90      0.89     76364

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [66]:
df_test

                           Co. Designation    Co. Function Job Family Code
0                 Senior Software Engineer       Tech Role            PDXX
1                   Lead Software Engineer       Tech Role            PDXX
2                       Product Specialist  IN-Other Roles            PDPM
3   Program Manager,Employee Effectiveness      People Ops            PRPO
4                                 Engineer       Tech Role            PDXX
5                        Software Engineer       Tech Role            PDXX
6               Senior Engineering Manager       Tech Role            PDXX
7                 Senior Software Engineer       Tech Role            PDXX
8                 Senior Software Engineer       Tech Role            PDXX
9                 Senior Software Engineer       Tech Role            PDXX
10                       Software Engineer       Tech Role            PDXX
11                       Software Engineer       Tech Role            PDXX
12                  Lead Software Engineer       Tech Role            PDXX
13                       Software Engineer       Tech Role            PDXX
14                Senior Software Engineer       Tech Role            PDXX
15                       Software Engineer       Tech Role            PDXX
16                       Software Engineer       Tech Role            PDXX
17                       Software Engineer       Tech Role            PDXX
18                     Engineering Manager       Tech Role            PDXX
19                         Chief Architect       Tech Role            ARXX
20                       Software Engineer       Tech Role            PDXX
21       Head of Talent Acquisition, India      People Ops            HRRE
22                Senior Software Engineer       Tech Role            PDXX
23                     Engineering Manager       Tech Role            PDXX
24                Senior Software Engineer       Tech Role            PDXX
25                      Principal Engineer       Tech Role            PDXX
26               Senior Product Specialist  IN-Other Roles            PDPM
27                Senior Software Engineer       Tech Role            PDXX
28                         Senior Engineer       Tech Role            PDXX
29                     Head of Engineering       Tech Role            PDXX
30           Head of UP Program Operations     In-UP roles            PRAG
31                     Technical Recruiter      People Ops            HRRE
32             People Operations Associate      People Ops            HRXX
33                           Lead Engineer       Tech Role            PDXX
34                  Senior Program Manager     In-UP roles            PRAG
35                       Software Engineer       Tech Role            PDXX
36                       Software Engineer       Tech Role            PDXX