<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v2_prodsim2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('trainsim_prod2.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Springboard Hi Tech & ITES 2022,Senior Software Engineer,Tech Role,PDXX
1,Springboard Hi Tech & ITES 2022,Lead Software Engineer,Tech Role,PDXX
2,Springboard Hi Tech & ITES 2022,Platform Engineer,Not relevant,PDXX
3,Springboard Hi Tech & ITES 2022,Product Specialist,IN-Other Roles,PDPM
4,Springboard Hi Tech & ITES 2022,"Program Manager,Employee Effectiveness",People Ops,PRPO

In [35]:
df_test = pd.read_csv('test_prod2.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Adobe Systems,Software Development Engineer,Engineering,PDXX
2,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Adobe Systems,Software Quality Engineer,Engineering,TEAU
4,Adobe Systems,Database Engineer,Information Technology,ASDB

In [36]:
df.shape
set(df['Company Name'])

{'24-7 AI Hi Tech & ITES 2022',
 '3 Pillar Global Hi Tech & ITES 2022',
 '75F Hi Tech & ITES 2022',
 'ARM',
 'Aerospike',
 'Agoda Services',
 'Airbnb',
 'Akamai Technologies',
 'Alibaba Group Inc',
 'Amadeus Hi Tech & ITES 2022',
 'Amazon (Radford)',
 'American Express',
 'Analog Devices',
 'Antworks Hi Tech & ITES 2022',
 'Applied Materials',
 'ArisGlobal Software Pvt Ltd',
 'Atkins Hi Tech & ITES 2022',
 'Atlassian',
 'Avaya',
 'Broadcom',
 'Browser Hi Tech & ITES 2022',
 'Cadence Hi Tech & ITES 2022',
 'Cimpress',
 'Cisco Systems',
 'Citrix Systems',
 'Cloudera',
 'CoinDCX Hi Tech & ITES 2022',
 'Coursera',
 'Data Weave Hi Tech & ITES 2022',
 'Dealshare Non Tech Hi Tech & ITES 2022',
 'Dealshare Tech Hi Tech & ITES 2022',
 'Dell',
 'Denali AI India Pvt. Ltd.',
 'Duck Creek Hi Tech & ITES 2022',
 'EcomExpress Hi Tech & ITES 2022',
 'Ephicacy Lifescience Analytics Pvt Ltd ',
 'Esri',
 'Expedia',
 'F5, Inc',
 'Factset Hi Tech & ITES 2022',
 'FalconX Tech & ITES 2022',
 'Finastra',
 'Flipkart',
 'Furlenco Hi Tech & ITES 2022',
 'GEP Hi Tech & ITES 2022',
 'Games 24x7 - India',
 'Go-Jek',
 'Grey Orange Hi Tech & ITES 2022',
 'Groupon',
 'HP Hi Tech & ITES 2022',
 'Harman India Hi Tech & ITES 2022',
 'HealthifyMe Hi Tech & ITES 2022',
 'Honeywell International',
 'IQVIA',
 'Infineon Technologies',
 'Infor India PVt Ltd',
 'Instawork Hi Tech & ITES 2022',
 'Intel',
 'Jocata Hi Tech & ITES 2022',
 'Juniper Networks',
 'L&T EduTech Hi Tech & ITES 2022',
 'L&T Smartworld Hi Tech & ITES 2022',
 'Lam Research',
 'LinkedIn Corporation',
 'Lockheed Martin',
 'Mastercard Worldwide',
 'Maxlinear',
 'McAfee',
 'Mediatek',
 'Mentor Graphics Hi Tech & ITES 2022',
 'Meta',
 'MetircStream Infotech India ',
 'MetircStream Infotech India Pvt Limited',
 'Microchip Technology',
 'Microsoft',
 'MongoDB',
 'Motorola Hi Tech & ITES 2022',
 'NXP  Semiconductors Hi Tech & ITES 2022',
 'NetApp',
 'Netradyne Hi Tech & ITES 2022',
 'Nutanix',
 'On Semiconductor Hi Tech & ITES 2022',
 'Onmobile Hi Tech & ITES 2022',
 'Open Text Corporation',
 'Oracle',
 'Paypal',
 'Pegasystems',
 'Pharmeasy Hi Tech & ITES 2022',
 'Pine Labs - India',
 'Qualcomm Hi Tech & ITES 2022',
 'Rakuten',
 'Rambus Hi Tech & ITES 2022',
 'Red Hat',
 'Reliance BP - India',
 'SAS Institute',
 'ST Micro Hi Tech & ITES 2022',
 'Saks Hi Tech & ITES 2022',
 'Salesforce Dummy',
 'Samsung Delhi Hi Tech & ITES 2022',
 'Schlumberger Hi Tech & ITES 2022',
 'ServiceNow',
 'Setu Hi Tech & ITES 2022',
 'Sopra Banking Hi Tech & ITES 2022',
 'Springboard Hi Tech & ITES 2022',
 'Tata Health Hi Tech & ITES 2022',
 'Tesco Hi Tech & ITES 2022',
 'Texas Instruments Hi Tech & ITES 2022',
 'Twitter',
 'Uber Technologies',
 'Ubisoft EMEA',
 'UiPath',
 'Upgrad Hi Tech & ITES 2022',
 'Visa U.S.A. Inc',
 'WNS Global Services Hi Tech & ITES 2022',
 'WhitehatJr Hi Tech & ITES 2022',
 'Wingify Hi Tech & ITES 2022',
 'Zendesk',
 'Zeomega Hi Tech & ITES 2022',
 'Zynga Inc',
 'eBay'}

In [37]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code'], dtype='object')

In [38]:
train_cols = ['Co. Designation', 'Co. Function']

In [39]:
target_col = 'Job Family Code'

In [40]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [41]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [42]:
# Load data
data = pd.read_csv('trainsim_prod2.csv')

In [43]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code
0,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Adobe Systems,Software Development Engineer,Engineering,PDXX
2,Adobe Systems,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Adobe Systems,Software Quality Engineer,Engineering,TEAU
4,Adobe Systems,Database Engineer,Information Technology,ASDB

In [44]:
data = data[all_cols]
data = data.dropna()

In [45]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [46]:
data.head()

                          Co. Designation    Co. Function Job Family Code
0                Senior Software Engineer       Tech Role            PDXX
1                  Lead Software Engineer       Tech Role            PDXX
2                       Platform Engineer   Not relevant             PDXX
3                      Product Specialist  IN-Other Roles            PDPM
4  Program Manager,Employee Effectiveness      People Ops            PRPO

In [47]:
df_test.head()

,Co. Designation,Co. Function,Job Family Code
0,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Software Development Engineer,Engineering,PDXX
2,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Software Quality Engineer,Engineering,TEAU
4,Database Engineer,Information Technology,ASDB

In [48]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [49]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [50]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.8977240308111706

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.92      0.86      0.89       338
        AAMD       0.97      0.86      0.91       202
        AAML       0.93      0.92      0.93       123
        AFAD       0.70      0.63      0.67        52
        AFFE       0.86      0.83      0.85       132
        AFSE       0.75      0.52      0.62        23
        AFXX       0.89      0.77      0.83        71
        ARCD       0.50      0.25      0.33         4
        ARIA       0.00      0.00      0.00         1
        ARRP       1.00      0.38      0.55         8
        ARSY       0.00      0.00      0.00         1
        ARXX       0.92      0.82      0.87       560
        ASCD       1.00      0.07      0.13        29
        ASDB       0.82      0.63      0.71        73
        ASEC       1.00      0.67      0.80        12
        ASFS       0.23      0.87      0.36        78
        ASMD       0.00      0.00      0.00        18
        ASPI       0.85      0.67      0.75       165
        ASRP       0.96      0.91      0.93        53
        ASSI       0.00      0.00      0.00         3
        ASUI       0.71      0.44      0.54        55
        ASWD       1.00      0.94      0.97       112
        ASXX       0.86      0.78      0.82      4477
        BCPM       0.75      0.86      0.80        14
        BFAC       1.00      1.00      1.00       106
        BFCA       0.83      0.81      0.82        37
        BFCB       1.00      1.00      1.00        73
        BFCM       1.00      1.00      1.00        21
        BFIR       1.00      1.00      1.00       244
        BFKY       1.00      1.00      1.00        21
        BFTF       0.97      1.00      0.98        30
        BFTO       0.00      0.00      0.00         1
        BFUW       1.00      1.00      1.00       102
        BFWB       1.00      1.00      1.00        49
        BSMT       0.91      0.84      0.87       142
        CCCE       1.00      1.00      1.00       179
        CCCO       1.00      0.92      0.96        13
        CCCV       0.99      0.99      0.99      1187
        CCID       0.00      0.00      0.00         3
        CCMD       0.98      0.98      0.98      1931
        CMDO       0.83      0.38      0.52        64
        CMXX       0.97      0.88      0.92        72
        CSAN       1.00      0.92      0.96        13
        CSBC       0.88      0.75      0.81       652
        CSCG       0.95      0.93      0.94       243
        CSCS       0.90      0.91      0.90       116
        CSED       1.00      1.00      1.00        23
        CSEL       0.00      0.00      0.00         4
        CSFC       0.87      0.91      0.89      1931
        CSSI       0.92      0.95      0.93       918
        DABD       0.89      0.90      0.89       226
        DABI       0.55      0.57      0.56       108
        DADV       0.91      0.78      0.84        64
        DADW       0.00      0.00      0.00        15
        DMKM       0.00      0.00      0.00         2
        DMMD       0.00      0.00      0.00         4
        DMSM       1.00      0.96      0.98        25
        EDCA       1.00      0.92      0.96       119
        EDEE       0.99      0.95      0.97       715
        EDFE       1.00      0.50      0.67         2
        EDME       0.98      0.93      0.96       209
        EDXX       0.96      0.82      0.89       108
        FAAG       0.86      0.93      0.89       393
        FAAP       0.99      1.00      0.99       510
        FAER       0.69      0.69      0.69        13
        FAFA       0.82      0.87      0.84       395
        FAFI       1.00      1.00      1.00       443
        FALC       0.77      0.80      0.79        51
        FAML       1.00      1.00      1.00        93
        FLAC       0.96      0.77      0.85       247
        FLCS       0.00      0.00      0.00         1
        FLFA       0.57      0.57      0.57        23
        FLLE       0.99      0.99      0.99       323
        FLPP       0.91      0.96      0.94       277
        FLPR       0.79      0.94      0.86       115
        FLTR       1.00      0.64      0.78        11
        FLTX       0.98      0.90      0.94        61
        FLXX       0.86      0.84      0.85       852
        GDXX       0.98      0.88      0.93        99
        HCMC       1.00      1.00      1.00        19
        HCMR       1.00      0.97      0.98        32
        HCRM       0.94      0.98      0.96       187
        HRBP       0.86      0.90      0.88       352
        HRCB       0.97      0.84      0.90        37
        HRDI       0.00      0.00      0.00         1
        HRGM       0.54      0.93      0.68        15
        HROD       1.00      0.25      0.40         8
        HRRE       0.92      0.91      0.91       327
        HRRM       0.83      0.67      0.74        15
        HRSS       0.96      0.74      0.83       119
        HRTR       0.92      0.80      0.86        71
        HRXX       0.78      0.60      0.68        83
        HSGL       0.82      0.93      0.87        15
        HSLD       0.00      0.00      0.00         1
        INAU       0.88      0.89      0.89        94
        INCL       0.86      0.17      0.28        36
        INDB       0.96      0.88      0.92       141
        INDC       0.92      0.63      0.75        19
        INDS       0.89      0.90      0.90       234
        INFE       0.00      0.00      0.00         1
        INFS       0.99      0.98      0.98       477
        INNE       0.91      0.87      0.89       282
        INRA       0.99      0.98      0.99      2355
        INRE       0.95      0.97      0.96       171
        INRI       0.83      0.71      0.77         7
        INSA       0.91      0.94      0.93        33
        INSS       0.79      0.79      0.79        33
        INTI       1.00      0.75      0.86         4
        INXX       0.83      0.82      0.82       504
        IPXX       0.00      0.00      0.00         2
        ITAU       0.53      0.47      0.50        38
        LECM       1.00      0.23      0.37        31
        LECO       0.96      0.94      0.95        48
        LEIP       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        18
        LERE       0.00      0.00      0.00         1
        MBCC       0.87      0.69      0.77        29
        MBCM       0.85      0.75      0.80       146
        MBCT       0.90      0.50      0.64        18
        MBDM       0.86      0.67      0.75       111
        MBGM       0.00      0.00      0.00         1
        MBSE       0.00      0.00      0.00         8
        MBXX       0.84      0.94      0.89       454
        PDFD       0.65      0.94      0.77      2180
        PDFS       0.73      0.45      0.56        53
        PDHD       0.88      0.51      0.65      2231
        PDLE       0.93      0.96      0.95       841
        PDMD       1.00      0.50      0.67        10
        PDPM       0.91      0.90      0.91       695
        PDUI       0.63      0.58      0.60       125
        PDXX       0.91      0.97      0.94     12343
        PRAG       0.45      0.40      0.42       121
        PRPO       0.92      0.90      0.91      1109
        PRXX       0.89      0.91      0.90       977
        QAXX       0.86      0.69      0.76       122
        QUTF       0.90      0.97      0.94       407
        QUTS       1.00      1.00      1.00       220
        RABA       0.96      0.98      0.97       475
        RABF       1.00      0.99      0.99       142
        RAPR       0.92      0.71      0.80        79
        RASR       0.99      1.00      0.99       386
        RICR       0.50      0.29      0.36         7
        RIOR       1.00      1.00      1.00        23
        RSMO       0.92      0.92      0.92        13
        RSSC       0.82      0.77      0.80        48
        RSSD       0.17      0.33      0.23        21
        RSVM       0.91      0.18      0.30        56
        RSWL       0.90      0.94      0.92       460
        SAAC       0.86      0.91      0.89       530
        SABD       0.79      0.89      0.84       665
        SACH       0.85      0.76      0.80       225
        SACS       0.89      0.86      0.87       153
        SAIN       0.93      0.98      0.95       916
        SAPS       0.95      0.82      0.88       691
        SASD       0.94      0.95      0.95       539
        SAXX       0.89      0.54      0.67       203
        SCCP       0.95      0.88      0.91       172
        SSSO       0.71      0.83      0.76        78
        SYAS       0.86      0.67      0.75        36
        SYGR       0.00      0.00      0.00         6
        SYIM       0.78      0.93      0.85       142
        SYIN       0.55      0.55      0.55        11
        SYPT       1.00      0.40      0.57         5
        SYXX       0.91      0.45      0.60        86
        TEAU       0.94      0.93      0.93      2188
        TEEM       0.72      0.72      0.72       204
        TEMT       1.00      0.48      0.64        61
        TEXX       0.96      0.94      0.95      2090
        TOCO       0.99      1.00      0.99      2515
        TOFC       0.66      0.88      0.75       162
        TOFS       0.00      0.00      0.00         3
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.25      0.40        20
        TOPO       0.96      0.94      0.95       105
        TOSI       1.00      1.00      1.00       735
        TRPR       1.00      0.90      0.95        51
        TRTN       1.00      0.76      0.87        17
        TTXX       0.93      0.87      0.90        76
        TWXX       0.85      0.80      0.82       350
        UEXX       0.44      0.36      0.40        47
        VATR       1.00      1.00      1.00         4

    accuracy                           0.90     63094
   macro avg       0.77      0.70      0.72     63094
weighted avg       0.90      0.90      0.90     63094

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [51]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)
    
X_unseen = hstack(X_test_unseen)

In [52]:
y_test_pred = model.predict (X_unseen)

In [53]:
pd.DataFrame(y_test_pred).to_csv('maps_prodsim2.csv')

In [54]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Accuracy: 0.9834801762114538

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.92      0.86      0.89       338
        AAMD       0.97      0.86      0.91       202
        AAML       0.93      0.92      0.93       123
        AFAD       0.70      0.63      0.67        52
        AFFE       0.86      0.83      0.85       132
        AFSE       0.75      0.52      0.62        23
        AFXX       0.89      0.77      0.83        71
        ARCD       0.50      0.25      0.33         4
        ARIA       0.00      0.00      0.00         1
        ARRP       1.00      0.38      0.55         8
        ARSY       0.00      0.00      0.00         1
        ARXX       0.92      0.82      0.87       560
        ASCD       1.00      0.07      0.13        29
        ASDB       0.82      0.63      0.71        73
        ASEC       1.00      0.67      0.80        12
        ASFS       0.23      0.87      0.36        78
        ASMD       0.00      0.00      0.00        18
        ASPI       0.85      0.67      0.75       165
        ASRP       0.96      0.91      0.93        53
        ASSI       0.00      0.00      0.00         3
        ASUI       0.71      0.44      0.54        55
        ASWD       1.00      0.94      0.97       112
        ASXX       0.86      0.78      0.82      4477
        BCPM       0.75      0.86      0.80        14
        BFAC       1.00      1.00      1.00       106
        BFCA       0.83      0.81      0.82        37
        BFCB       1.00      1.00      1.00        73
        BFCM       1.00      1.00      1.00        21
        BFIR       1.00      1.00      1.00       244
        BFKY       1.00      1.00      1.00        21
        BFTF       0.97      1.00      0.98        30
        BFTO       0.00      0.00      0.00         1
        BFUW       1.00      1.00      1.00       102
        BFWB       1.00      1.00      1.00        49
        BSMT       0.91      0.84      0.87       142
        CCCE       1.00      1.00      1.00       179
        CCCO       1.00      0.92      0.96        13
        CCCV       0.99      0.99      0.99      1187
        CCID       0.00      0.00      0.00         3
        CCMD       0.98      0.98      0.98      1931
        CMDO       0.83      0.38      0.52        64
        CMXX       0.97      0.88      0.92        72
        CSAN       1.00      0.92      0.96        13
        CSBC       0.88      0.75      0.81       652
        CSCG       0.95      0.93      0.94       243
        CSCS       0.90      0.91      0.90       116
        CSED       1.00      1.00      1.00        23
        CSEL       0.00      0.00      0.00         4
        CSFC       0.87      0.91      0.89      1931
        CSSI       0.92      0.95      0.93       918
        DABD       0.89      0.90      0.89       226
        DABI       0.55      0.57      0.56       108
        DADV       0.91      0.78      0.84        64
        DADW       0.00      0.00      0.00        15
        DMKM       0.00      0.00      0.00         2
        DMMD       0.00      0.00      0.00         4
        DMSM       1.00      0.96      0.98        25
        EDCA       1.00      0.92      0.96       119
        EDEE       0.99      0.95      0.97       715
        EDFE       1.00      0.50      0.67         2
        EDME       0.98      0.93      0.96       209
        EDXX       0.96      0.82      0.89       108
        FAAG       0.86      0.93      0.89       393
        FAAP       0.99      1.00      0.99       510
        FAER       0.69      0.69      0.69        13
        FAFA       0.82      0.87      0.84       395
        FAFI       1.00      1.00      1.00       443
        FALC       0.77      0.80      0.79        51
        FAML       1.00      1.00      1.00        93
        FLAC       0.96      0.77      0.85       247
        FLCS       0.00      0.00      0.00         1
        FLFA       0.57      0.57      0.57        23
        FLLE       0.99      0.99      0.99       323
        FLPP       0.91      0.96      0.94       277
        FLPR       0.79      0.94      0.86       115
        FLTR       1.00      0.64      0.78        11
        FLTX       0.98      0.90      0.94        61
        FLXX       0.86      0.84      0.85       852
        GDXX       0.98      0.88      0.93        99
        HCMC       1.00      1.00      1.00        19
        HCMR       1.00      0.97      0.98        32
        HCRM       0.94      0.98      0.96       187
        HRBP       0.86      0.90      0.88       352
        HRCB       0.97      0.84      0.90        37
        HRDI       0.00      0.00      0.00         1
        HRGM       0.54      0.93      0.68        15
        HROD       1.00      0.25      0.40         8
        HRRE       0.92      0.91      0.91       327
        HRRM       0.83      0.67      0.74        15
        HRSS       0.96      0.74      0.83       119
        HRTR       0.92      0.80      0.86        71
        HRXX       0.78      0.60      0.68        83
        HSGL       0.82      0.93      0.87        15
        HSLD       0.00      0.00      0.00         1
        INAU       0.88      0.89      0.89        94
        INCL       0.86      0.17      0.28        36
        INDB       0.96      0.88      0.92       141
        INDC       0.92      0.63      0.75        19
        INDS       0.89      0.90      0.90       234
        INFE       0.00      0.00      0.00         1
        INFS       0.99      0.98      0.98       477
        INNE       0.91      0.87      0.89       282
        INRA       0.99      0.98      0.99      2355
        INRE       0.95      0.97      0.96       171
        INRI       0.83      0.71      0.77         7
        INSA       0.91      0.94      0.93        33
        INSS       0.79      0.79      0.79        33
        INTI       1.00      0.75      0.86         4
        INXX       0.83      0.82      0.82       504
        IPXX       0.00      0.00      0.00         2
        ITAU       0.53      0.47      0.50        38
        LECM       1.00      0.23      0.37        31
        LECO       0.96      0.94      0.95        48
        LEIP       0.00      0.00      0.00         1
        LEPO       1.00      1.00      1.00        18
        LERE       0.00      0.00      0.00         1
        MBCC       0.87      0.69      0.77        29
        MBCM       0.85      0.75      0.80       146
        MBCT       0.90      0.50      0.64        18
        MBDM       0.86      0.67      0.75       111
        MBGM       0.00      0.00      0.00         1
        MBSE       0.00      0.00      0.00         8
        MBXX       0.84      0.94      0.89       454
        PDFD       0.65      0.94      0.77      2180
        PDFS       0.73      0.45      0.56        53
        PDHD       0.88      0.51      0.65      2231
        PDLE       0.93      0.96      0.95       841
        PDMD       1.00      0.50      0.67        10
        PDPM       0.91      0.90      0.91       695
        PDUI       0.63      0.58      0.60       125
        PDXX       0.91      0.97      0.94     12343
        PRAG       0.45      0.40      0.42       121
        PRPO       0.92      0.90      0.91      1109
        PRXX       0.89      0.91      0.90       977
        QAXX       0.86      0.69      0.76       122
        QUTF       0.90      0.97      0.94       407
        QUTS       1.00      1.00      1.00       220
        RABA       0.96      0.98      0.97       475
        RABF       1.00      0.99      0.99       142
        RAPR       0.92      0.71      0.80        79
        RASR       0.99      1.00      0.99       386
        RICR       0.50      0.29      0.36         7
        RIOR       1.00      1.00      1.00        23
        RSMO       0.92      0.92      0.92        13
        RSSC       0.82      0.77      0.80        48
        RSSD       0.17      0.33      0.23        21
        RSVM       0.91      0.18      0.30        56
        RSWL       0.90      0.94      0.92       460
        SAAC       0.86      0.91      0.89       530
        SABD       0.79      0.89      0.84       665
        SACH       0.85      0.76      0.80       225
        SACS       0.89      0.86      0.87       153
        SAIN       0.93      0.98      0.95       916
        SAPS       0.95      0.82      0.88       691
        SASD       0.94      0.95      0.95       539
        SAXX       0.89      0.54      0.67       203
        SCCP       0.95      0.88      0.91       172
        SSSO       0.71      0.83      0.76        78
        SYAS       0.86      0.67      0.75        36
        SYGR       0.00      0.00      0.00         6
        SYIM       0.78      0.93      0.85       142
        SYIN       0.55      0.55      0.55        11
        SYPT       1.00      0.40      0.57         5
        SYXX       0.91      0.45      0.60        86
        TEAU       0.94      0.93      0.93      2188
        TEEM       0.72      0.72      0.72       204
        TEMT       1.00      0.48      0.64        61
        TEXX       0.96      0.94      0.95      2090
        TOCO       0.99      1.00      0.99      2515
        TOFC       0.66      0.88      0.75       162
        TOFS       0.00      0.00      0.00         3
        TOHR       0.00      0.00      0.00         2
        TOMR       1.00      0.25      0.40        20
        TOPO       0.96      0.94      0.95       105
        TOSI       1.00      1.00      1.00       735
        TRPR       1.00      0.90      0.95        51
        TRTN       1.00      0.76      0.87        17
        TTXX       0.93      0.87      0.90        76
        TWXX       0.85      0.80      0.82       350
        UEXX       0.44      0.36      0.40        47
        VATR       1.00      1.00      1.00         4

    accuracy                           0.90     63094
   macro avg       0.77      0.70      0.72     63094
weighted avg       0.90      0.90      0.90     63094

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [55]:
df_test

,Co. Designation,Co. Function,Job Family Code
0,Professional Services Consultant,Professional Services / Consulting,CSBC
1,Software Development Engineer,Engineering,PDXX
2,Professional Services Consultant,Professional Services / Consulting,CSBC
3,Software Quality Engineer,Engineering,TEAU
4,Database Engineer,Information Technology,ASDB
...,...,...,...
6351,Client Relationship Rep,Professional Services / Consulting,CSBC
6352,Technical Support Engineer,Customer Service / Support,INRA
6353,Technical Support Engineer,Customer Service / Support,INRA
6354,Technical Support Engineer,Customer Service / Support,INRA
6355,Software Development Engineer,Engineering,PDXX