<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [272]:
import pandas as pd

In [273]:
df = pd.read_csv('Train.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Job Family Code,Level,TFP
0,Soc Gen Hi Tech & ITES 2022,Analyst,CENTRAL FUNCTIONS,LECO,S3,628146.0
1,Soc Gen Hi Tech & ITES 2022,Analyst,KYC&CL Utility (KYU),BFCM,S3,387835.0
2,Soc Gen Hi Tech & ITES 2022,Cyber Security Senior Analyst,GTS,SYXX,I2,1868511.0
3,Soc Gen Hi Tech & ITES 2022,Cyber Security Analyst,GTS,SYXX,I1,1361648.0
4,Soc Gen Hi Tech & ITES 2022,Senior Analyst,CENTRAL FUNCTIONS,FAFA,I1,1133234.0

In [274]:
df_test = pd.read_csv('test1.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code,Level,TFP
0,Wells Fargo Hi Tech & ITES 2022,Senior Information Security Engineer,Technology & Data,SYXX,I4,2100037
1,Wells Fargo Hi Tech & ITES 2022,Senior Investment Risk Specialist,Governance & Controls,RIER,I3,2080500
2,Wells Fargo Hi Tech & ITES 2022,Senior Software Engineer,Technology & Data,ASXX,I4,1743788
3,Wells Fargo Hi Tech & ITES 2022,Senior Infrastructure Engineer,Technology & Data,INSS,I4,2071378
4,Wells Fargo Hi Tech & ITES 2022,Senior Software Engineer,Technology & Data,ASXX,I4,3253143

In [275]:
df.shape
#set(df['Company Name'])

(152030, 6)

In [276]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Job Family Code',
       'Level', 'TFP'],
      dtype='object')

In [277]:
train_cols = ['Co. Designation', 'Co. Function']
tfp_col='TFP'

In [278]:
target_col = 'Job Family Code'
target_col_2='Level'

In [279]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code','Level']
super_cols=['Co. Designation', 'Co. Function', 'Job Family Code','Level','TFP']

In [280]:
import pandas as pd
import numpy as np
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [281]:
# Load data
data = pd.read_csv('Train.csv')

In [282]:
data.shape

(152030, 6)

In [283]:
data=data[super_cols]
data = data.dropna()
data
data2=data
tfp = data[tfp_col]
data = data[all_cols]

In [284]:
df_test=df_test[super_cols]
df_test = df_test.dropna()
tfp_test=df_test[tfp_col]
df_test = df_test[all_cols]

In [285]:
data.shape

(152030, 4)

In [286]:
df_test.head()

,Co. Designation,Co. Function,Job Family Code,Level
0,Senior Information Security Engineer,Technology & Data,SYXX,I4
1,Senior Investment Risk Specialist,Governance & Controls,RIER,I3
2,Senior Software Engineer,Technology & Data,ASXX,I4
3,Senior Infrastructure Engineer,Technology & Data,INSS,I4
4,Senior Software Engineer,Technology & Data,ASXX,I4

JF

In [287]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

Level

In [288]:
scaler=MinMaxScaler()
tfp = tfp.values.reshape(-1, 1)
tfp_test = tfp_test.values.reshape(-1, 1)
scaler.fit(tfp)
tfp_s=scaler.transform(tfp)
tfp_s_test=scaler.transform(tfp_test)

vectorizers_2 = []
X_train_list_2 = []
X_test_list_2 = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list_2.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list_2.append(X_test_col)
    vectorizers_2.append(vectorizer)

X_train_list_2.append(tfp_s.reshape(1,-1))
X_test_list_2.append(tfp_s_test.reshape(1,-1))

JF

In [289]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

Level

In [290]:
X_train_list_2

[<152030x1897 sparse matrix of type '<class 'numpy.float64'>'
 	with 478296 stored elements in Compressed Sparse Row format>,
 <152030x491 sparse matrix of type '<class 'numpy.float64'>'
 	with 271655 stored elements in Compressed Sparse Row format>,
 array([[0.01436325, 0.00760537, 0.04924405, ..., 0.08388363, 0.01551171,
         0.03878458]])]

In [291]:
# Concatenate sparse matrices into a single feature matrix
X_train_2 = hstack(X_train_list_2)
X_test_2 = hstack(X_test_list_2)

# Split data into training and testing sets
y_train_2 = data[target_col_2]
#y_test = df_test[target_col]

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_2, y_train_2, test_size=0.2, random_state=42)

ValueError: ignored

JF

In [ ]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Level

In [ ]:
# Train logistic regression model
model_2 = LogisticRegression()
model_2.fit(X_train_2, y_train_2)

# Predict on test set and evaluate performance
y_pred_2 = model_2.predict(X_test_2)
print('Accuracy:', accuracy_score(y_test_2, y_pred_2))
print('Classification Report:\n', classification_report(y_test_2, y_pred_2))

Unseen JF

In [ ]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)

X_unseen = hstack(X_test_unseen)

Unseen Level

In [ ]:
X_test_unseen_2 = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col_2 = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen_2.append(X_test_col_2)

X_unseen_2 = hstack(X_test_unseen_2)

JF

In [ ]:
y_test_pred = model.predict (X_unseen)

Level

In [ ]:
y_test_pred_2 = model_2.predict (X_unseen_2)

In [ ]:
pd.DataFrame(y_test_pred).to_csv('JF_x.csv')
pd.DataFrame(y_test_pred_2).to_csv('Lvl_x.csv')
frames=[pd.DataFrame(y_test_pred),pd.DataFrame(y_test_pred_2)]
maps=pd.concat(frames)
pd.DataFrame(maps).to_csv('maps_x.csv')

JF

In [ ]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test_actual, y_test_pred))

Level

In [ ]:
# Predict on test set and evaluate performance
y_test_actual_2=df_test[target_col_2]
print('Accuracy:', accuracy_score(y_test_actual_2, y_test_pred_2))
print('Classification Report:\n', classification_report(y_test_actual_2, y_test_pred_2))