<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v5.16.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a=pd.read_excel('ITES 1.xlsx')
b=pd.read_excel('ITES 2.xlsx')
c=pd.read_excel('ITES 3.xlsx')
a

,Company Name,Co. Designation,Co. Function,Position Code,Job Family Code,Level,TFP
0,Citi Corp Hi Tech & ITES 2022,Cash and Trade Proc Rep - C05,Corporate & Commercial Banking Operations,TOFSS3,TOFS,S3,539634.0
1,Citi Corp Hi Tech & ITES 2022,Consumer Product Sales Manager,Sales,SAXXM4,SAXX,M4,2014325.0
2,Citi Corp Hi Tech & ITES 2022,Serv & Sales Specialist - C05,Client Service Delivery,SACSS3,SACS,S3,528571.0
3,Citi Corp Hi Tech & ITES 2022,Client Service Officer - C09,Client Service Delivery,SACSI1,SACS,I1,636606.0
4,Citi Corp Hi Tech & ITES 2022,Serv & Sales Specialist - C05,Client Service Delivery,SACSS3,SACS,S3,422651.0
...,...,...,...,...,...,...,...
446289,FIS,IT Security Analyst I,Information Technology,SYXXI1,SYXX,I1,456127.0
446290,FIS,Digital Transformation Analyst II,Product Development,RABAI3,RABA,I3,944059.0
446291,FIS,Customer Service Associate II-Consumer,Call Center,CCVIS2,CCVI,S2,499274.0
446292,FIS,Customer Service Associate II-Consumer,Call Center,CCVIS2,CCVI,S2,423206.0
446293,FIS,Risk Analyst Senior,Risk & Compliance,RIORI4,RIOR,I4,1099823.0

In [ ]:
frames_1= [a,b,c]
d= pd.concat(frames_1,axis=0,ignore_index=True)
d

,Company Name,Co. Designation,Co. Function,Position Code,Job Family Code,Level,TFP,Unique ID,Superclass
0,Citi Corp Hi Tech & ITES 2022,Cash and Trade Proc Rep - C05,Corporate & Commercial Banking Operations,TOFSS3,TOFS,S3,539634.0,NaN,NaN
1,Citi Corp Hi Tech & ITES 2022,Consumer Product Sales Manager,Sales,SAXXM4,SAXX,M4,2014325.0,NaN,NaN
2,Citi Corp Hi Tech & ITES 2022,Serv & Sales Specialist - C05,Client Service Delivery,SACSS3,SACS,S3,528571.0,NaN,NaN
3,Citi Corp Hi Tech & ITES 2022,Client Service Officer - C09,Client Service Delivery,SACSI1,SACS,I1,636606.0,NaN,NaN
4,Citi Corp Hi Tech & ITES 2022,Serv & Sales Specialist - C05,Client Service Delivery,SACSS3,SACS,S3,422651.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1679199,Infogain Hi Tech 2020,Senior System Administrator,IT Support,NaN,INXX,I3,550075.0,NaN,NaN
1679200,Infogain Hi Tech 2020,Senior System Administrator,IT Support,NaN,INXX,I3,388887.0,NaN,NaN
1679201,Infogain Hi Tech 2020,Assistant Vice President,IT Support,NaN,INXX,E1,2840332.0,NaN,NaN
1679202,Infogain Hi Tech 2020,General Manager,IT Support,NaN,INXX,M7,1643855.0,NaN,NaN
1679203,Infogain Hi Tech 2020,Executive,Technical Support,NaN,INXX,I2,324821.0,NaN,NaN

In [ ]:
df = d.copy(deep=True)

In [ ]:
print(a.shape, b.shape, c.shape, d.shape)

(446294, 7) (563439, 8) (669471, 6) (1679204, 9)

In [ ]:
df_test = pd.read_csv('Test3.csv')
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code,Level,TFP
0,Flipkart,Executive - Finance Operations,Corp,FLXX,I2,330761.20
1,Flipkart,Associate - Design & Content,M3,MBDM,I2,430406.08
2,Flipkart,Lead,CX - Customer Operations,CCMD,I2,438174.20
3,Flipkart,Associate - Design & Content,M3,MBDM,I2,441553.16
4,Flipkart,Team Lead - Business Develoment,Store Operations,SABD,I2,448263.20

In [ ]:
df.shape
#set(df['Company Name'])

(1679204, 9)

In [ ]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Position Code',
       'Job Family Code', 'Level', 'TFP', 'Unique ID', 'Superclass'],
      dtype='object')

In [ ]:
train_cols = ['Co. Designation', 'Co. Function']

In [ ]:
target_col = 'Job Family Code'
target_col_2='Level'

In [ ]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code','Level']
univ_cols= ['Co. Designation', 'Co. Function', 'Job Family Code','Level','TFP']

In [ ]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [ ]:
# Load data
data = d

In [ ]:
df_test.head()

,Company Name,Co. Designation,Co. Function,Job Family Code,Level,TFP
0,Flipkart,Executive - Finance Operations,Corp,FLXX,I2,330761.20
1,Flipkart,Associate - Design & Content,M3,MBDM,I2,430406.08
2,Flipkart,Lead,CX - Customer Operations,CCMD,I2,438174.20
3,Flipkart,Associate - Design & Content,M3,MBDM,I2,441553.16
4,Flipkart,Team Lead - Business Develoment,Store Operations,SABD,I2,448263.20

In [ ]:

data = data[all_cols]
data = data.dropna()

In [ ]:
df_test_2=df_test
df_test_2=df_test[univ_cols]

df_test = df_test[all_cols]
df_test = df_test.dropna()
df_test_2 = df_test_2.dropna()

In [ ]:
#data.head()

In [ ]:
#df_test.head()

JF

In [ ]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

Level

In [ ]:
vectorizers_2 = []
X_train_list_2 = []
X_test_list_2 = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list_2.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list_2.append(X_test_col)
    vectorizers_2.append(vectorizer)

jfcol='Job Family Code'
vectorizer = TfidfVectorizer(max_features=10000)
X_train_col = vectorizer.fit_transform(data.loc[:, jfcol])
X_train_list_2.append(X_train_col)
X_test_col = vectorizer.transform(data.loc[:, jfcol])
X_test_list_2.append(X_test_col)
vectorizers_2.append(vectorizer)

JF

In [ ]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

Level

In [ ]:
# Concatenate sparse matrices into a single feature matrix
X_train_2 = hstack(X_train_list_2)
X_test_2 = hstack(X_test_list_2)

# Split data into training and testing sets
y_train_2 = data[target_col_2]
#y_test = df_test[target_col]

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_2, y_train_2, test_size=0.2, random_state=42)

JF

In [ ]:
# Train logistic regression model
model = LogisticRegression(max_iter=50000)
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

Level

In [ ]:
# Train logistic regression model
model_2 = LogisticRegression(max_iter=50000)
model_2.fit(X_train_2, y_train_2)

# Predict on test set and evaluate performance
y_pred_2 = model_2.predict(X_test_2)
print('Accuracy:', accuracy_score(y_test_2, y_pred_2))
print('Classification Report:\n', classification_report(y_test_2, y_pred_2))

Unseen JF

In [ ]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)

X_unseen = hstack(X_test_unseen)

JF

In [ ]:
y_test_pred = model.predict (X_unseen)

Unseen Level + Pred JF

In [ ]:
X_test_unseen_2 = []
z=0
for i, col in enumerate(train_cols):
    vectorizer = vectorizers_2[i]
    X_test_col_2 = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen_2.append(X_test_col_2)
    z=i

vectorizer = vectorizers_2[z+1]
X_test_col_2 = vectorizer.transform(df_test.loc[:, jfcol])
X_test_unseen_2.append(X_test_col_2)

X_unseen_2 = hstack(X_test_unseen_2)

Level

In [ ]:
y_test_pred_2 = model_2.predict (X_unseen_2)

In [ ]:
pd.DataFrame(y_test_pred).to_csv('JF_x.csv')
pd.DataFrame(y_test_pred_2).to_csv('Lvl_x.csv')
frames=[pd.DataFrame(y_test_pred),pd.DataFrame(y_test_pred_2)]
maps=pd.concat(frames, axis=1)
pd.DataFrame(maps).to_csv('maps_x.csv')

JF

In [ ]:
# Predict on test set and evaluate performance
y_test_actual=df_test[target_col]
print('Accuracy:', accuracy_score(y_test_actual, y_test_pred))
print('Classification Report:\n', classification_report(y_test_actual, y_test_pred))

In [ ]:
df_lvlx = pd.read_csv('maps_x.csv')

Level

In [ ]:
# Predict on test set and evaluate performance
y_test_actual_2=df_test[target_col_2]
print('Accuracy:', accuracy_score(y_test_actual_2, y_test_pred_2))
print('Classification Report:\n', classification_report(y_test_actual_2, y_test_pred_2))

In [ ]:
df_test_2.shape

In [ ]:
temp=df_test_2.loc[:,'TFP']
init_maps=pd.concat([maps , temp], axis=1)
init_maps

In [ ]:
#init_maps.JF.unique()

In [ ]:
init_maps.columns = ['JF', 'level', 'TFP']

In [ ]:
ref_table = pd.read_excel('PROD_LOL.xlsx')

In [ ]:
#temp_level = ref_table.loc[ref_table.index == 3].Level.values[0]
#temp_level

In [ ]:
def find_in_ref(df, jf, level):
  try:
    return df.loc[(df.JF == jf) & (df.Level == level)]
  except:
    return None

def check_range_ref(ref_df, comp, index):
  ref_row = ref_df.loc[ref_df.index == index]

  if comp >= ref_row.Min.values[0] and comp <= ref_row.Max.values[0] :
    return True

  return False

def compare_range_ref(ref_df, comp, index):
  ref_row = ref_df.loc[ref_df.index == index]

  if comp < ref_row.Min.values[0]:
    return -1
  elif comp > ref_row.Max.values[0]:
    return 1
  elif comp >= ref_row.Min.values[0] and comp <= ref_row.Max.values[0] :
    return 0

  return False

In [ ]:
find_in_ref(ref_table, 'HRBP', 'I5')

In [ ]:
reassigned_maps = init_maps.copy(deep=True)

In [ ]:
pd.DataFrame(init_maps).to_csv('init_maps.csv')
init_maps.shape

In [ ]:
from tqdm.auto import tqdm

In [ ]:
for index, query in tqdm(init_maps.iterrows()):
  ref_row = find_in_ref(ref_table, query.JF, query.level)
  d_index=index

  try:
    ref_index = ref_row.index[0]
  except:
    continue

  # check if comp falls in that range
  comp = query['TFP']/1000
  final_index = -1
  cur_jf=query.JF
  if compare_range_ref(ref_table, comp, ref_index)==0:
    #print("Exact match found at ", ref_index)
    final_index = ref_index
  elif compare_range_ref(ref_table, comp, ref_index )==-1:
    ref_index_l=ref_index
    while ref_table.loc[ref_table.index == ref_index_l].JF.values[0]==cur_jf:
      if ref_table.loc[ref_table.index == ref_index_l].Level.values[0]=='S2':
        final_index = ref_index_l
        break
      elif compare_range_ref(ref_table, comp, ref_index_l)==0:
        final_index = ref_index_l
        break
      ref_index_l=ref_index_l-1
  elif compare_range_ref(ref_table, comp, ref_index )==1:
    ref_index_u=ref_index
    while ref_table.loc[ref_table.index == ref_index_u].JF.values[0]==cur_jf:
      if compare_range_ref(ref_table, comp, ref_index_u)==0:
        final_index = ref_index_u
        break
      elif ref_table.loc[ref_table.index == ref_index_u].Level.values[0]=='E2':
        final_index = ref_index_u
        break
      else:
        if ref_table.loc[ref_table.index == ref_index_u].Level.values[0]=='I7':
          ref_index_u = ref_index_u+7
        else:
          ref_index_u = ref_index_u+1

  if final_index != -1 :
    final_level = ref_table.loc[ref_table.index == final_index].Level.values[0]
    reassigned_maps.at[d_index, 'level'] = final_level

In [ ]:
pd.DataFrame(reassigned_maps).to_csv('reassigned maps.csv')

In [ ]:
from pickle import dump
dump(model,open('IT ServicesJF.pkl', 'wb'))
dump(model_2,open('IT ServicesLevel.pkl', 'wb'))
dump(vectorizers,open('IT ServicesJF_vect.pkl', 'wb'))
dump(vectorizers_2,open('IT ServicesLevel_vect.pkl', 'wb'))